[2018-06-18 16:02] BrandonOCasey commented on #1036
`player.tech(true).el()` or `player.$('video')` should both work, with the first one being more explicit but depending upon the use of the `HTML` tech (which is the default).

[2018-06-18 16:04] BrandonOCasey commented on #5253
Do you have an example that you could link? This is a very complex problem as there are a lot of moving parts when dealing with chromecast.

[2018-06-18 16:10] gkatsev commented on #5260
Also, take a look at our troubleshooting doc: http://docs.videojs.com/tutorial-troubleshooting.html

[2018-06-18 16:13] gkatsev commented on #5257
I'm going to close this as a duplicate of #4851. That issue's topic is different but the root cause is the same. There's also a bunch of discussion there related to it.
#4469 which was recently merged in improves this behavior by figuring out the type for various video formats but there's some more work to be done for this.

[2018-06-18 16:13] #5257 closed

[2018-06-18 16:14] gkatsev commented on #4851
So, I think what's left to do here is if we don't recognize the type of the source after #4469, we should assume the html5 tech and then pass it through to the tech without a type.
Any help to get this in would be greatly appreciated.

[2018-06-18 16:15] gkatsev commented on #4851
Also, I guess we should make sure that we actually grab sources for src attributes and not just ignore them.

[2018-06-18 17:48] gkatsev commented on #5259
I'm not sure that it's really recommended to have an audio element and a video element mostly due to sync problems but also, I think some platforms limit the amount of audio and video elements that can play at the same time.

Is there a particular reason you have the audio separate from the video?

What you probably want is to look at Media Source Extensions and load in the video and audio data in

[2018-06-18 17:54] gkatsev commented on #5256
This is expected. When making a cross origin request, the browser needs to know whether we're allow to making such a request due to CORS restrictions. The OPTIONS request is sent first to know whether the real request is allowed and then depending on the response, it will make the GET request.
Based on the info you provided above it seems like everything is working as expected.

[2018-06-18 18:07] gkatsev commented on #5196
On the samsung device I have, I can partially reproduce it. It will go fullscreen like in the above screenshot but it does refresh itself and hide that piece after a second. I'm not really sure that's anything we can do about it, though. It looks like a device specific bug around the fullscreen API.

[2018-06-18 18:35] gkatsev commented on #5193
Google has a FAQ related to video and their search console which may be helpful: https://developers.google.com/webmasters/videosearch/indexing

[2018-06-18 18:36] gkatsev commented on #5242
Closing this as a duplicate of #5193.

[2018-06-18 18:40] gkatsev commented on #3732
I'm unable to reproduce this on iOS 10 and latest Video.js.
If there is still a problem with newer versions of Video.js please open a new issue.
Thanks.

[2018-06-18 18:40] #3732 closed

[2018-06-18 19:29] gkatsev commented on #4948
By the way, we've decided that Video.js should handle this and have a PR for this that's in progress #5148

[2018-06-18 19:52] inerc opened #5261 "HEPL!! Problems in the work of the plug-in with the player version v7.0.3"
Hi, I updated the player version. And I had a mistake.
[code]

[2018-06-18 20:15] BrandonOCasey commented on #5261
seems like you may be missing the qualityLevels plugin on the page or in a require statement in your code.

[2018-06-18 20:53] moeinomidii commented on #5193
so guys, whats is the solution ?
can someone help me : #5242

[2018-06-18 22:01] gkatsev commented on #5193
It is likely that the search console doesn't support the video element or that robots.txt prevents their crawler from accessing your content. I would look at Google' FAQ and make sure that you're following their best practices.

[2018-06-18 22:06] gkatsev commented on #5261
Are you using npm and bundler like webpack or browserify? quality-levels doesn't have v7 as a valid dependency yet. We have a PR to fix it https://github.com/videojs/videojs-contrib-quality-levels/pull/39

[2018-06-18 22:10] #5036 closed

[2018-06-18 22:11] gkatsev commented on #5042
Closing due to lack of information. We can re-open if we get more info.

[2018-06-18 22:11] #5042 closed

[2018-06-18 22:11] gkatsev commented on #5047
Closing due to lack of information. If we can get more info, we can take a look.

[2018-06-18 22:11] #5047 closed

[2018-06-18 22:15] gkatsev commented on #5069
Closing as a browser bug, it isn't really a bug but it is a browser specific behavior as far as I can tell.
If you have an example, we could maybe take a look.

[2018-06-18 22:15] #5069 closed

[2018-06-18 22:15] gkatsev commented on #5070
This is being worked on in VHS: https://github.com/videojs/http-streaming/pull/105

[2018-06-18 22:17] #5087 closed

[2018-06-18 22:17] #5089 closed

[2018-06-18 22:19] gkatsev commented on #5098
Sounds like this is a duplicate of #3762.

[2018-06-18 22:19] #5098 closed

[2018-06-18 22:20] gkatsev commented on #5102
Closing due to lack of activity. If we get more information, we can try and help.

[2018-06-18 22:20] #5102 closed

[2018-06-18 22:21] gkatsev commented on #5103
As far as I can tell, you need a backend that supports byte-range requests. You can also see if http://docs.videojs.com/tutorial-troubleshooting.html will help out.

[2018-06-18 22:21] #5103 closed

[2018-06-18 22:21] #5114 closed

[2018-06-18 22:26] #5132 closed, assigned to nobody

[2018-06-18 22:28] gkatsev commented on #5137
We've provided a few potential solutions. Let us know if those fit your need or not.

[2018-06-18 22:30] gkatsev commented on #5139
ffmpeg would be my suggestion as well.

[2018-06-18 22:30] #5139 closed

[2018-06-18 22:31] gkatsev commented on #5141
I have suggested some workarounds in my previous comment.

[2018-06-18 22:31] #5141 closed

[2018-06-18 22:31] gkatsev commented on #5142
Closing as "That's life".

[2018-06-18 22:32] #5142 closed

[2018-06-18 22:32] gkatsev commented on #5143
A workaround is available.

[2018-06-18 22:32] #5143 closed

[2018-06-18 22:33] gkatsev commented on #5145
Closing this as a DASH issue, especially since the linked issue has been closed.

[2018-06-18 22:33] #5145 closed

[2018-06-18 22:34] gkatsev commented on #5161
Unfortunately, there's not much to go on here. Check out http://docs.videojs.com/tutorial-troubleshooting.html and http://docs.videojs.com/tutorial-faq.html, maybe there's something that will help.
If you can provide a reduced test case, we'll be able to take a look as well.

[2018-06-18 22:34] #5161 closed

[2018-06-18 22:35] gkatsev commented on #5181
Going to close this for now, I do hope that supporting byte-range requests was enough to fix the issue.

[2018-06-18 22:35] #5181 closed

[2018-06-18 22:36] #5195 closed

[2018-06-18 22:36] #5202 closed

[2018-06-18 22:38] gkatsev commented on #5215
Yup, vjs-fill isn't very well documented.
Have you been able to fix your issue? You can also set the aspect ratio for the player with the `aspectRatio` option or force it to be 16-9 with `vjs-16-9` or `vjs-4-3` classes.

[2018-06-18 22:43] #5242 closed

[2018-06-18 22:53] gkatsev commented on #5250
I'm not really sure what's going on but it seems like this is the expected output.
Looking at the output of `buffered()`, it shows values that match what's visible.
[code]
![screen shot 2018-06-18 at 18 51 37](https://user-images.githubusercontent.com/535884/41566236-accc3ee0-7328-11e8-97de-16c075e5e045.png)

I'm not really sure why chrome is loading things weirdly but firefox is fine.

[2018-06-18 22:55] gkatsev commented on #5023
This should be fixed as part of https://github.com/videojs/video.js/pull/5158

[2018-06-18 22:55] #5023 closed

[2018-06-18 22:59] gkatsev commented on #5261
Closing this in favor of https://github.com/videojs/videojs-contrib-quality-levels/issues/40

[2018-06-18 22:59] #5261 closed

[2018-06-19 00:32] plainheart commented on #5254
Hi, @gkatsev .
I can confirm that my Firefox allows Flash to load on the page and RTMP stream url is correctly separated by an `&`, but I have tried many ways, the tip `No compatible source was found for this media` is staying there and doesn't leave. Could you have a test in your environment? I hope that you can send an correct example here if it works well. Thanks a lot!

[2018-06-19 03:18] marciomarinho commented on #953
Is there a way to disable the progress bar only ? I don't won't my users to keep fast forwarding/back warding.

[2018-06-19 04:19] Narendrakanneti commented on #5260
Hello...@BrandonOCasey ..
Using version 4.0 in Sap Hybris, working fine with chrome, whene using firefox getting [ VIDEOJS: ERROR: (CODE:2 MEDIA_ERR_NETWORK) A network error caused the video download to fail part-way. ] this error on top of the video  while playing video...

[2018-06-19 05:04] nandishsadrani commented on #5036
it's ok. but hope you check that a same player's working fine on other places of the site.
Thanks!

[2018-06-19 14:42] Bnabais commented on #5253
Already solved it. I could only set and showed subtitles on player.on('loadeddata') method on the receiver side.
Thanks for your time.

[2018-06-19 14:44] JordanChazottes commented on #5247
Hi again,
Some more informations for you, I've deployed it on EC2 an example of my problem here :
http://jordan-front.kinow.fr/api/player

It can be down/buggy sometimes as I'm still working on it.

[2018-06-19 15:09] BrandonOCasey commented on #5253
OK feel free to open another issue if you have any more trouble!

[2018-06-19 15:09] #5253 closed

[2018-06-19 16:10] gkatsev commented on #5141
Try setting the `comparisons` compress option to false, it might help.

[2018-06-20 10:30] tambry opened #5263 "IPv6 support"
- [ ] IPv6 on website
- [x] IPv6 on vjs.zencdn.net
- [ ] IPv6 on a.zencdn.net
- [ ] HTTP/2 on a.zencdn.net

## Description
Both the website and resources from the CDN can't be loaded over IPv6.

## Steps to reproduce
### For website
1. Try to access the website with only IPv6 connectivity available. This can be simulated on an IPv6-capable connection using `curl "https://videojs.com/" -6` or by te

[2018-06-20 12:09] borzaka commented on #4463
Try using a newer version of video.js. The latest 5.x is [5.20.5](https://github.com/videojs/video.js/releases/tag/v5.20.5) (currently, you are using 5.18.4).

[2018-06-20 12:47] vojthor commented on #5193
We solve it having fallback function on error that append vanilla HTML5 player with sources from original player and remove Video.js, Fetch as Google not displaying error with that...

[2018-06-20 14:58] JordanChazottes commented on #5247
Finally i found the solution !
I had to set an alternate CName with the same domain of my video player on my CDN.
With CName set "Access-Control-Allow-Credentials" header is present on every request.

Closing.

[2018-06-20 14:58] #5247 closed

[2018-06-20 14:58] gkatsev commented on #5247
Glad you were able to figure it out, sorry we weren't able to help.

[2018-06-20 15:20] gkatsev commented on #5263
Our website is hosted via netlify, which as far as I can tell, hasn't rolled out ipv6 support.

As for our CDN, it's hosted on fastly, I'll take a look at what I can do there.

[2018-06-20 16:06] OwenEdwards commented on #5259
Synchronizing an audio track with a video in a browser is a surprisingly tricky thing to do. @brothercake did some interesting work on it to implement audio description (see https://www.sitepoint.com/accessible-audio-descriptions-for-html5-video/), but the `mediacontroller` concept in JavaScript was never actually implemented.

The easiest way to implement what you're trying to do is actually to u

[2018-06-20 16:32] jomunoz commented on #4852
I changed @regisb solution a bit so that it applies to all players in my app.

[code]

[2018-06-20 16:33] jomunoz commented on #4852
I changed @regisb solution a bit so that with a hook it applies to all players in my app:

[code]

[2018-06-20 19:42] sagikarni opened #5264 "strange lines when buffering"
## Description
Briefly describe the issue.
When the network is slow and the plugin waits for additonal data videojs presents strange lines.
Please take a look the following video
 https://www.youtube.com/watch?v=665XbXyz8Y8&feature=youtu.be

[2018-06-20 19:53] gkatsev commented on #5264
That may be the loading spinner not rendering correctly. Do you have a reduced test case we can take a look at?
Also, what browser and OS is this on? Also, what version of Video.js?

[2018-06-20 20:03] #5137 closed

[2018-06-20 20:05] gkatsev commented on #5218
Actually, going to close this specific issue in favor of videojs/video.js#3927

[2018-06-20 20:05] #5218 closed

[2018-06-20 20:13] sagikarni commented on #5264
I'll try to upload a case.
Anyway, see this behaviour bth on my laptop (windows 10 / chrome)
and in my mobile device (android/chrome)
My videojs looks like this
<video-player class="vjs-custom-skin vjs-big-play-centered"...
and I tried to remove the spinner with css :
.vjs-has-started .vjs-loading-spinner {
  display: none !important;
}
without any luck.
using video.js@6.10.3
thx
Sagi

[2018-06-20 21:04] #5248 closed

[2018-06-21 07:58] Narendrakanneti opened #5266 "Video Seeking is not working in Chrome browser"
I am using Video.js 7.0.3 version ...
i am unable to seek the video(sap hybris -site)..in chrome ..working fine with firefox.

[2018-06-21 09:52] Sizzahandz commented on #5233
Someone have a fix for this?

[2018-06-21 12:54] maple3142 commented on #5259
It seems like it is not easy to do this.
Besides, it there any way to know is video loaded?
For example, video may have not been loaded when I jump to `1:30`, so I have to pause the audio.

[2018-06-21 13:13] MrWiLofDoom commented on #4106
let controlBar = document.getElementsByClassName('vjs-control-bar')[0],
            controlElements = controlBar.childNodes;
        if(controlElements && controlElements.length>0){
            for(var i=0; i < controlElements.length; i++){
                // get user interaction
                let node = controlElements[i];
                node.addEventListener('click', (event) => { this.onUserI

[2018-06-21 13:53] vinchi9 opened #5267 "Multiple stream variants in m3u8 playlist won't play on Android"
## Description
I am encoding video into multiple streams with different resolution and bitrate in order to enable adaptive HLS playback in video.js player. All the variants are present in single m3u8 playlist, which is passed to the player. In desktop browsers (Firefox, Chrome), iPhone browser and in Android Firefox the playback works fine, but in Android Chrome, Dolphin and Opera the player refus

[2018-06-21 15:44] gkatsev commented on #5259
You can use seek and seeked events to know when there are jumps or just use a rAF to check the time of the main video. In Video.js, middleware provide a good way to know exact seeking times before they happen, you could potentially use middleware to make a mediacontroller thing better.

[2018-06-21 15:47] gkatsev commented on #5266
Can you provide a reduced test case please? Also, which version of Chrome on which OS?
I cannot reproduce locally.

[2018-06-21 18:33] #4478 closed

[2018-06-21 18:41] gkatsev commented on #5233
We just merged #5209 which gives a few more tools to get autoplay working. I am able to get autoplay working with latest Video.js but I can also confirm seeing autoplay not working properly in the example that @dszewczyk1 posted.

[2018-06-21 18:42] gkatsev commented on #5259
I'm going to close this issue because it isn't something that would require changes in Video.js itself. However, we can definitely continue the conversation in here, you can also drop by our slack (http://slack.videojs.com) for a more real-time chat.

[2018-06-21 18:42] #5259 closed

[2018-06-21 18:42] brothercake commented on #5259
Yeah you have to track timeupdate and seeking etc as I talked about in that article, but you also have to consider loading states of the video (so the audio doesn't keep playing if the video is buffering). You also have to not re-synchronise too often, because changing the time-point causes Safari to mute briefly and sometimes causes audio artefacts in Firefox, so the syncing needs to allow a cert

[2018-06-21 18:45] gkatsev commented on #5259
Thanks for chiming in @brothercake!

[2018-06-21 19:32] OwenEdwards opened #5269 "Refactor subs-caps-menu and audio-track-menu to avoid duplication when adding an icon to an item"
## Description

Need to refactor the `subs-caps-menu` and [feat: Add an Audio Description icon to an audio track name in the track menu if it is "main-desc" kind](https://github.com/videojs/video.js/commit/53c62aca58ed03a4c6cc964726a2a4d9439b4d6c) to avoid duplicate CSS and Javascript for adding an icon to an item.

[2018-06-21 19:42] moti5565 commented on #4373
#4478

[2018-06-21 19:49] gkatsev commented on #4478
This should be fixed in master now, a release of 7 is coming soon and it'll be back ported to 6.x at some point as well.

[2018-06-21 19:49] gkatsev commented on #4373
This should be fixed in master now, a release of 7 is coming soon and it'll be back ported to 6.x at some point as well.

[2018-06-21 22:31] gkatsev opened #5270 "Android TalkBack announces "Double tap to activate" when focused on player"
When using Android TalkBack and focusing on the player by swiping left and right until we select the player div, Android TalkBack announces "double tap to activate" but then double tapping does nothing.

Adding a `click` handler to the div fixes it but I'm not sure if there are other implications. I'm not sure why that gets announced and if it'll be better to figure out how to disable it or to fig

[2018-06-21 22:35] gkatsev opened #5271 "Android TalkBack announces the player multiple times"
When focusing on the player div using Android TalkBack it announces something like:

Even though we have an `aria-label="Video Player"`.

It should only announce `Video Player` and maybe `double tap to activate` as well.

[2018-06-21 22:35] gkatsev commented on #5271
adding an `aria-labelledby` doesn't seem to affect it.

[2018-06-22 03:10] liuyuqingenglish opened #5272 "lastet version support rtmp"
Video.js latest realease version does not support the playback of rtmp video streaming, hope the author reply

[2018-06-22 03:20] magikstm commented on #5272
This section of the FAQ may be useful:
https://github.com/videojs/video.js/blob/master/docs/guides/faq.md#q-how-can-i-play-rtmp-video-in-videojs

[2018-06-22 03:58] gkatsev commented on #5272
Thanks @magikstm. We also have that on our site here http://docs.videojs.com/tutorial-faq.html#q-how-can-i-play-rtmp-video-in-videojs

In v6, we moved flash out of core due to flash being less important on the web. However, we kept it around in the [videojs-flash](/videojs/videojs-flash) package. Including that package is required to be able to play back flv and RTMP in Video.js.

Hope that helps.

[2018-06-22 03:58] #5272 closed

[2018-06-22 04:44] plainheart commented on #5254
Are there some developers who can play a RTMP stream well with video.js in Firefox ? Hope that anyone can do me a favour!

[2018-06-22 11:35] Narendrakanneti commented on #5266
Hi @gkatsev ...

i am using Chrome Version 67.0.3396.87 (Official Build) (64-bit)  - on windows 7,

// version of videojs.
Video.js 7.0.3 <http://videojs.com/> Copyright Brightcove, Inc.

// test case  .Jsp file  (This is my code snippet)
<video `class="video-js`  vjs-default-skin  vjs-big-play-centered"
	 width="300"
	 height="200"
	data-setup='{ "controls": true, "autoplay": false, "preload": "a

[2018-06-22 15:18] alecsgone commented on #3202
any idea or issue related to why "caption settings" is not displayed on `safari 11.1`? is there a way to force to appear?

[2018-06-22 15:29] gkatsev commented on #5266
I'm not really sure what a sap hybris site is.
I am also unsure what you mean by seeking option or what `seek: true` refers to.

A live [reduced test case](https://css-tricks.com/reduced-test-cases/) would make it a lot easier for us to reproduce the issue you are experiencing and thus fixing it.

If you're trying to listen to seeking and seeked events, it's best to use the video.js API

[code]

[2018-06-22 16:11] BrandonOCasey commented on #5254
Does the following example work for you? https://output.jsbin.com/wusakisibu/1

That is an example of the flash tech playing an mp4, that seems to work for me.

You can find the code at: `https://jsbin.com/wusakisibu/1/edit?html`

[2018-06-22 21:35] gkatsev commented on #5258
Thanks for the issue. There's definitely room for improvement here and you've provided some interesting ideas. I'm currently working on a roadmap for Video.js and there's already some stuff related to this there, so, definitely going to reference this issue there.

[2018-06-23 06:14] plainheart commented on #5254
It is still not working for me. Once I try to use flash tech to play a steam or video file in Firefox, it will tell me `No compatible source was found for this media.`. I'm almost crazy now.
![image](https://user-images.githubusercontent.com/26999792/41806350-182ff73e-76ef-11e8-9b1e-a6459369c817.png)
My Firfox version is `60.0.2`.
And video.js is working well in Chrome and Opera.

[2018-06-23 18:28] plainheart commented on #5254
Thanks! It works finally for me! I tried to use another computer, not my company's, and I saw that Firefox gave me a tip of allowing Flash. And after I allowed that, the video could be played normally.
Though it works finally, but I'm still puzzled that video.js can not work in Firefox of my company computer which has the same version 60.0.2.

[2018-06-23 18:28] #5254 closed

[2018-06-24 02:42] yoko10000 opened #5275 "m3u8 type video not working"
## Description
Briefly describe the issue.
Include a [reduced test case](https://css-tricks.com/reduced-test-cases/), we have a [starter template](http://jsbin.com/axedog/edit?html,output) on JSBin you can use.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1.video.js 6.8+videojs-contrib-hls , it's OK.
2.video.js 7.0.3 ,Google Chrome is OK,but , iphone I

[2018-06-25 17:02] marvieir opened #5276 "It seems videojs in Android 7 does not work."
It seems videojs in Android 7 does not work.  have an error like "the media playback was aborted due to a corruption problem media used features your browser did not support"

All videos are working in Iphones or desktops with many browsers but in Android using version 7 or later are not working. It seems a clear bug in videojs for Android using version 7 and later

[2018-06-25 17:31] gkatsev commented on #5276
Hi,

Thanks for opening the issue, can you elaborate on which browser you're using on Android? We have seen it working on Chrome for Android and also Firefox for Android.
Also, what device are you using it on? We have sometimes seen different devices being able to play video differently.
Lastly, what type of content are you playing? Is it an mp4 or an m3u8? A working test page would be great.

Are

[2018-06-25 17:37] marvieir commented on #5276
The mobile for example is a J5 or Samsung S7 or S8 using Google Chrome for example with Android 7 or later. It is a HlS m3u8.

If you create a user in the link www.guitarpedia.com.br then you will be able to see some free videos.

If you are using a Android version 7.1 for example you can see the error.

Regards

Marco

Em 25 de jun de 2018, à(s) 14:31, Gary Katsevman <notifications@github.com> es

[2018-06-25 17:51] gkatsev commented on #5276
Can you provide a reduced test case?

Also, Android often has trouble playing back HLS, I would recommend trying to enable videojs-http-streaming on Android making sure to enable overrideNative, at least for Android (https://github.com/videojs/http-streaming#overridenative)

[2018-06-25 20:17] GooG2e commented on #5250
I understand that this is the expected output
But Why?
Why does it load parts that far from seek position @gkatsev

[2018-06-25 20:37] ajw725 opened #5277 "Seeking after media URL expires does not trigger an error in Safari"
## Description
I'm not exactly sure how to create a reduced test case for this, so I'll describe it as well as I can, but let me know if you need more.

I'm initializing a player for a video hosted on Amazon S3. The bucket is private, and documents can only be accessed via signed URLs with 30-second expiration times (this cannot be changed). In Chrome or Firefox, I can add a listener for the "erro

[2018-06-25 20:56] marvieir commented on #5276
Gary

We use HlS due security concerns. All videos were working fine up to the latest 6 versions in Android but now is not working

There are a lot of other players working in Android 7

Is there any other people complaining about the same issue?

Regards

Marco

Em 25 de jun de 2018, à(s) 14:51, Gary Katsevman <notifications@github.com> escreveu:

[2018-06-25 21:14] gkatsev commented on #5276
Are you using DRM or encrypted HLS?

We haven't had other reports of HLS not working outright on Android though Android's HLS support is very rudimentary, hence the suggestion for using VHS.

[2018-06-25 22:05] marvieir commented on #5276
We are going to move to DRM and MPEG dash soon

Marco

Em 25 de jun de 2018, à(s) 18:15, Gary Katsevman <notifications@github.com> escreveu:

[2018-06-26 04:57] dtranBC commented on #5159
I have a workaround which is now implemented in https://cs1.brightcodes.net/dtran/BC-40804.html

I have also created #5278 to add a new event which would have a different purpose than the current "change" event. The proposed "ttChange" event is only fired for the textTrack which the mode is set to "showing".

[2018-06-26 15:13] gkatsev commented on #5276
It could be the DRM you're using isn't supported on Android

[2018-06-26 15:26] marvieir commented on #5276
Hi Gary

We don’t use DRM yet. Any other advise?

Regards

Marco

Em 26 de jun de 2018, à(s) 12:14, Gary Katsevman <notifications@github.com> escreveu:

[2018-06-26 15:29] gkatsev commented on #5276
It's hard to say without a [reduced test case](https://css-tricks.com/reduced-test-cases/).

[2018-06-26 15:31] marvieir commented on #5276
Gary

Which kind of reduced test we could do to provide more information that help in the analysis?

Regards

Marco

Em 26 de jun de 2018, à(s) 12:14, Gary Katsevman <notifications@github.com> escreveu:

[2018-06-26 17:52] MrWiLofDoom commented on #198
Has there been any progress on this issue? Has anyone come up with a solid method for detecting buffering?

[2018-06-26 18:42] gkatsev commented on #5277
Hey, what type of content are you playing back here? Is it HLS?

I was talking to the @videojs/playback team in our slack channel and for HLS, they'd expect no errors to be thrown if a particular segment 404s or 403s because we'd want to just blocklist that rendition and move along to other alternate renditions. We believe and if there's just one rendition left it'll just continue retrying.

[2018-06-26 19:04] gkatsev commented on #5270
In comparison, iOS VoiceOver doesn't even focus on the player div itself but rather skips directly to the Big Play Button.

[2018-06-26 20:30] ajw725 commented on #5277
I'm not using HLS - just an old-fashioned URL to a video. I initialize the player and set the src (with JS) to the signed URL of the video in its S3 bucket. The URL expires after 30 seconds, so any request to an un-buffered section of the video will fail, and I need to reset the source to a new URL.

[2018-06-26 21:48] gkatsev commented on #5277
🤔 sounds like this is just a browser difference where Chrome and FF will throw an error an the byte range request fails but Safari doesn't.

You can probably do something like detect a seek, see if it's within the buffered range, and if not reload the source. You can use middleware to have a good idea of where the user is seeking ahead of time via the `setCurrentTime` middleware function http://do

[2018-06-27 08:41] hauk0101 commented on #3289
@edwinbradford In fact this problem can be solved by CSS ，you can set like this:
`.vjs-workinghover .vjs-menu-button-popup:hover .vjs-menu {
    display: none;
}`

[2018-06-27 09:30] ayamamori opened #5281 "Infinite recursive function call"
## Description
In the latest master branch, infinite recursive function call happens.

I identified that the commit https://github.com/videojs/video.js/pull/5255/commits/7ae5734e6321a6c532cb5c7f41e13e6c973561c2 (https://github.com/videojs/video.js/pull/5255 ) is the cause of this issue, and reverting the commit will resolve the issue.
I dug into the issue and tried to find the solution without rev

[2018-06-27 10:18] mister-ben commented on #5275
It's impossible to tell what's wrong without an example. Strange, since HLS is played natively in iOS.

[2018-06-27 15:46] chanof opened #5282 "Representations are not adapted to screen on Safari/Explorer"
Hello to all!

By passing to high sierra I got an issue about the visualization of adaptive streaming that i work on:

The representations are not adapted to the screen, the green screen appears around the representations,

[This is a link to a screenshot of the issue ](https://i.stack.imgur.com/8B8Ru.jpg)

Only the largest representation is correctly displayed.

This happen on Safari of high Sier

[2018-06-27 15:47] gkatsev commented on #5281
Thanks for the issue, I can reproduce locally with an HLS url.

[2018-06-28 11:54] madprops opened #5284 "How to know when video is ready to play"
## Description
I'm getting some cases when I reload the tab and the m3u8 stream is not starting.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. I load the video and play it immediately after the ready event is fired
2. Sometimes the video doesn't play.

[code]

I'm guessing it has something to do with the video not being loaded before hitting .play()

[2018-06-28 16:46] gjactat opened #5285 "MP3 stream freezes videojs native HLS support"
## Description
Videojs 7.0.5 freezes Chrome browser when trying to play a MP3 stream.
We already had this kind of issue in an old videojs-hls-contrib version.

See the following fiddle : https://jsfiddle.net/Jakhob/fLdjho79/13/

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. Instantiate videojs with mp3 audio stream
2. browser freezes
3. Browser tab fi

[2018-06-28 18:00] richardlnnr commented on #5233
You can use `oncanplay="this.muted=true"` on your video tag

    <video  muted loop autoplay oncanplay="this.muted=true">
        <source src="your src" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

[2018-06-29 05:37] victoryboss opened #5287 "Is there any plan to use virtual dom to rebuild videojs dom operations ?"
## Description
As we know that MVVM frameworks (like Vue、React) are popular ,
but videojs operates dom like jQuery.
Is there any plan  to rebuild videojs dom operations to adapt to the trend of development ?

[2018-06-29 05:54] victoryboss commented on #5287
I find an answer created two years ago https://github.com/videojs/video.js/issues/2006

[2018-06-29 08:01] edoardocavazza opened #5288 "Add module field to package.json"
## Description
Briefly describe the issue.
Include a [reduced test case](https://css-tricks.com/reduced-test-cases/), we have a [starter template](http://jsbin.com/axedog/edit?html,output) on JSBin you can use.

As for the [`m3u8-parser`](https://github.com/videojs/m3u8-parser/blob/master/package.json) package, the `module` field in the package.json would be great for bundlers.

## Results
### Exp

[2018-06-29 13:46] edwinbradford opened #5289 "DASH IF sample content not playing in VideoJS 7.0.3"
Sample DASH content from DASH IF is not playing in VideoJS version 7.0.3, it played fine in version 6.x with videojs-contrib-dash. I created a [JSFiddle](https://jsfiddle.net/edwinbradford/ywhu3gn9/) for you to verify this. If you take the video source link from that fiddle and try it in the official [DASH IF player](http://mediapm.edgesuite.net/dash/public/nightly/samples/dash-if-reference-player

[2018-06-29 14:33] forbesjo commented on #5289
Looks like videojs-http-streaming isn't generating the segment list correctly for your source, thank you for opening this issue!

[2018-06-29 14:34] #5282 closed

[2018-06-29 14:51] edwinbradford commented on #5289
Glad to be able to help on such a great project. The DASH IF Player I referred to in my issue has multiple working DASH files for testing in video players in case you didn't know but I'm sure you did.

[2018-06-29 21:04] dylanjha commented on #4935
This was tripping me up too. Thank you for posting the solution and updating the docs @zhulduz

[2018-06-29 23:28] DoomTay opened #5290 "Fullscreen button should be removed or greyed out when fullscreen is unavailable"
## Description
See title.

Example use case: an iframe that doesn't have the allowfullscreen attribute. The [given starter template](http://jsbin.com/axedog/edit?html,output) is such an example

## Results
### Expected
Fullscreen button should be removed or greyed out

### Actual
Fullscreen button appears functional, but clicking on it does nothing. It takes looking at the console to see that it's

[2018-06-29 23:29] DoomTay commented on #5284
Try putting this under prepare prepare_video_player

[code]

[2018-07-01 02:56] supamonkey2000 opened #5291 "Unable to play h.264 AAC mp4 on Firefox"
## Description
I am attempting to play an h.264 encoded mp4 video with AAC audio on Firefox 61 on Windows 10 (both 64 bit). I am using the code from [this link on the main site](http://videojs.com/getting-started/). I used HandBrake to encode the video. However when I try to play it on my site, it shows an error message:

[code]

## Steps to reproduce
Explain in detail the exact steps necessary to

[2018-07-01 04:05] supamonkey2000 commented on #5291
Sorry, it was an issue with symbolic linking video files in a separate directory. I had to "refresh" the symlinks to make sure they actually moved to the client.

[2018-07-01 04:05] #5291 closed

[2018-07-02 01:39] AlphaFase commented on #5275
Maybe you didn't quote ：https://github.com/videojs/videojs-contrib-hls

[2018-07-02 03:11] airomyas commented on #5210
further more, we should notice that flash doesn't support simple handshake mode when server is providing h264+aac stream, the server side must configured to complex hand shake mode or the flash will just pull the stream and not showing.

[2018-07-02 05:53] #5284 closed

[2018-07-02 06:57] Parpita commented on #4863
Hi All,
I am facing also the same problem in safari browser while using video js. please, anyone can suggest me.

Thank you

[2018-07-02 15:22] gkatsev commented on #4863
Have you looked through the troubleshooting docs above or tried playing back other videos?
If after doing that it still isn't working, can you create a reduced test case and open a new issue following the issue template? Thanks.

[2018-07-02 15:42] gkatsev commented on #5263
Thanks for the reminder. I pinged fastly support to make sure that there isn't anything that we'd be overlooking in making the CNAME record switch.

[2018-07-02 19:09] gkatsev commented on #5288
That's something we wanted to add as part of the rollup upgrade and 7.x release but we completely forgot to add it back in.
Would you be interested in making a PR to add that field?

[2018-07-02 19:11] edoardocavazza commented on #5288
Sure!

[2018-07-02 21:15] gkatsev commented on #5263
I've made the change to fastly, it may take a while to propagate and what not.

[2018-07-03 06:36] tambry commented on #5263
Can confirm that vjs.zencdn.net now works over IPv6. Thanks!

I now noticed that there also seems to be a a.zencdn.net endpoint, which also isn't IPv6-enabled (it additionally lacks HTTP/2). Since the endpoint is using Akamai, I believe this should also be as easy as a switch in the control panel or pinging Akamai support. Maybe you could look into this?

[2018-07-03 06:46] gkatsev commented on #5263
cool, thanks for confirming. I guess I'm going to close this one since we resolved the CDN part and are just waiting on Netlify. Hopefully, we won't need to do anything on that side of things but if we do, please open another issue.

As for a.zencdn.net, that's unrelated to Video.js and shouldn't pose any issues. If that url is still being used, the team is probably already aware of IPV6 support i

[2018-07-03 06:46] #5263 closed

[2018-07-03 10:30] biswajitmuvi commented on #4539
Hi,

I have also got exact same problem. Could you please help me to solve the issue.

[2018-07-03 10:51] talamaska commented on #2858
cool, this is what, 3 years later?
Shame on video.js mainainers.

[2018-07-03 16:02] #4948 closed

[2018-07-03 16:03] #3306 closed

[2018-07-03 16:04] #5288 closed

[2018-07-03 16:11] gkatsev commented on #2858
Thanks for your concern. We try our best to answer all the issues but sometimes issues are forgotten because we have a limited amount of people working on answering these issues (it's mostly just me).

In the time since, we have greatly improved our documentation, though, it's still not perfect. We also created a public slack team to ask questions in a more real-time fashion because some things do

[2018-07-03 18:39] gkatsev commented on #5290
Looks like we can check `document.fullscreenEnabled` and the vendor prefixed versions of that to know whether fullscreen is enabled or not.
Looks like we already get the correct prefix in our [fullscreen-api](https://github.com/videojs/video.js/blob/master/src/js/fullscreen-api.js) file ([sample usage](https://github.com/videojs/video.js/blob/master/src/js/player.js#L2381), so, we can just use tha

[2018-07-03 18:41] gkatsev commented on #5285
Is this an HLS playlist with mp3? I believe VHS doesn't support it yet.

[2018-07-03 18:48] gkatsev commented on #5267
Android support for HLS is fairly rudimentary and can fail on more complicated streams. By default VHS (the replacement to contrib-hls) doesn't run on Android and needs to be forced via the [overrideNative](https://github.com/videojs/http-streaming/#overridenative) option.
Also, Video.js 7 includes VHS by default and so contrib-hls shouldn't be necessary.

Hope that helps.

[2018-07-03 19:03] gkatsev commented on #5244
You can add custom elements to the control bar. Our control bar is just standard HTML/DOM.
So, you'd probably want to create your angular component and then move it into the video.js control bar.

[2018-07-03 19:09] gkatsev commented on #5243
Video.js moves or re-creates the video element when it is initialized which could potentially cause issues setting the srcObject.
I would initialize Video.js as early as possible, potentially before even calling `getUserMedia()` and then you can get the video element via `player.tech().el()` to which you can then set the srcObject. Something like:

[code]

Hope that helps.

[2018-07-03 19:21] DoomTay commented on #5290
Sure, sounds pretty simple

[2018-07-03 21:02] citosid commented on #4332
The [plnkr that you can find online](http://embed.plnkr.co/DrXJoH02IJLEdkYFu8HE/) after a 5 seconds search on Google (@Kogoruhn) does not work anymore.

Do you have any example on how to do it @ypavlotsky ?

I have this code:

[code]

With this template:

[code]

And it creates the player, but the styles are all wrong:

![screenshot 2018-07-03 16 59 42](https://user-images.githubusercontent.com/20

[2018-07-03 23:09] gjactat commented on #5285
I'll give [this procedure](https://www.wowza.com/docs/how-to-configure-wowza-server-to-stream-audio-only-apple-hls-using-transport-stream) a shot (who knows...)

[2018-07-04 14:01] citosid commented on #4332
I found the answer to my question:

Since Angular 2+ uses `ViewEncapsulation` by adding a `_ng-content-c*` attribute to each element under a component and adding the same attribute to the styles, you need to disable this feature to integrate third party libraries such as VideoJS.

Your component definition should be something like this:

[code]

[2018-07-05 04:34] colingreene28 commented on #5087
I was facing the same issue. @gkatsev just to give you a bit more context, I fixed it by doing something like this:

[code]

I do feel like this could have unintended consequences and might be better if the variable was named something like `$videojs-icon-font-path` ?

[2018-07-05 04:50] gkatsev commented on #5087
Oh, I see. Thanks for giving more info @colingreene28. In Video.js 7 we removed the $icon-font-path as all the font stuff is now fully embedded as we dropped support for IE8.

[2018-07-05 07:34] #5287 closed

[2018-07-05 10:09] fanhaipeng0403 opened #5299 "How can I add a close button at right/upper corner , thanks"
And like other default buttons, only when the mouse moves on top of it does it appear.

[2018-07-05 10:21] #5299 closed

[2018-07-05 16:15] Surt commented on #394
@martabel did you finally release a videojs multistream plugin? I found another player fully "opencast" compatible but we will love to use videojs in our solution (good community).

[2018-07-05 19:02] dylanjha commented on #5261
Still having issues with videojs-contrib-quality-levels (2.0.5) and video.js 7.0.5

When I look at `videojs.getPlugins()` the qualityPicker plugin is there, but `player.qualityLevels()` is not a function. @inerc with the latest 2.0.5 release is the quality levels plugin working for you now?

[2018-07-05 19:40] dylanjha commented on #5261
Disregard. I realized I was double-loading video.js b/c of other plugin dependencies. Confirmed this works with videojs 7.0.3 👍

[2018-07-05 19:42] gkatsev commented on #5261
Thanks for confirming @dylanjha!

[2018-07-05 20:28] #5290 closed

[2018-07-05 20:29] #5199 closed

[2018-07-05 21:16] colingreene28 commented on #5087
Ah! Well that should give me more of a push to upgrade from 5.x. Appreciate the swift response.

[2018-07-05 21:41] gkatsev commented on #5281
We didn't get a chance to fix the root cause, which we believe lies in VHS. We're going to be reverting the commit in #5301 before making a 7.1 release.

[2018-07-05 21:41] gkatsev commented on #5281
We'll keep this issue open so that we won't forget to fix the root cause and be able to apply #5255 at a later date.

[2018-07-06 16:17] Pong420 opened #5303 "Interval do not clear and cause user active alway true"
**Steps to reproduce**
1. Drag on progress bar
2. Leave the player and mouse up
3. user active alway true until user click on player again

this issue should be caused by  `mouseInProgress ` not clear when user `mouseup` outside the player
https://github.com/videojs/video.js/blob/8257a372e1792dbc78fe215c298e228cf6643a4d/src/js/player.js#L3262

[2018-07-06 16:19] sevagsim opened #5304 "Cannot enable first text track on DASH content that has multiple text tracks"
Cannot enable first caption track on DASH content with multiple text tracks

## Steps to reproduce
1.  Visit http://videojs.github.io/videojs-contrib-dash/
2.  Load https://d2xk91j6i9s5cq.cloudfront.net/test/multi_subtitle_dash/02/presentation-static.mpd
3.  Select the first `en` text track

## Results
### Expected
Expect captions to show at 8 or 9 second mark.

### Actual
No captions display

###

[2018-07-06 19:54] ldayananda commented on #5304
I looked into this and it looks like there's a few things happening:

- we should be passing the track.kind in to dash.js (I'll make a quick PR to fix this)
- Looks like that first English track is actually inband captions. I ran a few of the segments through ccextractor(https://github.com/CCExtractor/ccextractor) and it looks like the captions in that track are not in fact what the dash.js player

[2018-07-06 20:01] ldayananda commented on #5304
Created https://github.com/videojs/videojs-contrib-dash/pull/263 to handle the first issue.

[2018-07-06 22:37] ldayananda commented on #5304
After more discussion and investigation, it appears that dash.js does not add captions to tracks that are not enabled:

https://github.com/Dash-Industry-Forum/dash.js/blob/a9e4ba9bfeeea95385c6e4a4a4b6b47dfed51511/src/streaming/text/TextSourceBuffer.js#L413

This does not seem right to me since the subtitles/captions could be requested at any point and you would want to add the captions to a text t

[2018-07-07 22:15] #3936 closed

[2018-07-08 00:12] gkatsev commented on #5250
I'm not really sure. You're playing back an mp4 and that's generally handled by the browser itself and we don't do ourselves.

[2018-07-08 09:41] inerc commented on #5261
@gkatsev @dylanjha @BrandonOCasey
Thanks a lot guys all works fine.
videojs 7.0.5
videojs-contrib-quality-levels 2.0.5

[2018-07-08 15:35] edwinbradford commented on #3011
Sorry to resurrect this old issue but it appears to still be the case. If you turn off JavaScript in Chrome's browser settings or in devtools and go to [videojs.com](http://videojs.com) the paragraph of text in the `<p class="vjs-no-js"></p>` tag does not display.

I have tried editing the html and css directly in the browser but nothing I try causes the text to display.

[2018-07-08 20:42] EhsanCh commented on #4766
There is no good vast/vpaid/**vmap** plugin for videojs 6 and 7 and it is the biggest cons of videojs.
videojs-ima is not an option. because it loads very JS resources from google domains (like youtube.com) and it depend to google. so it is not good for youtube competitors.

Please develop this required plugin.

[2018-07-09 15:40] sevagsim commented on #5304
Created https://github.com/Dash-Industry-Forum/dash.js/issues/2696

[2018-07-09 20:55] axten commented on #5223
ping @gkatsev

[2018-07-10 02:17] zzbslayer opened #5307 "Only voice when playing mp4 video in chrome"
## Description
Similar to this issue [issue#1590](https://github.com/videojs/video.js/issues/1590)
Is there any other way to solve this problem **except encoding the video for web** mention in the above issue?
There's only voice when playing mp4 video in chrome. The audio goes smoothly but the screen is black. But It runs very well in safari.

## Sources
[jsbin](https://jsbin.com/punojecunu/edit?h

[2018-07-10 09:07] kalieye opened #5308 "hidden captions textTrack not triggering "cuechange" events"
## Description
When setting a 'captions' text track to 'hidden' mode and adding a cuechange event, the events are not being fired.

## Steps to reproduce
1. set the captions track to hidden
2. add cuechange event listener
3. send some cue events

## Results
### Expected
cuechange event triggered with the data

### Actual
event is not being triggered, but works when setting the track mode to 'showi

[2018-07-10 14:50] ldayananda commented on #5307
I just tried with Chrome Version 67.0.3396.99 with MacOS Sierra 10.12.6 and was able to see both audio and video. Also tested on a couple of High Sierra machines and saw audio and video. Are you able to test on another machine to confirm that browser-platform combination is the issue?

[2018-07-10 21:47] jaceluoath commented on #3473
The event listener is for the button under the video player whereas the handleclick is for the video player control bar

[2018-07-11 01:12] zzbslayer commented on #5307
It's so strange. My friends couldn't play the video either yesterday.
But now there's both audio and video, too.
I guess there might be some problems about the nginx server.
Really thanks. Maybe this issue can be closed.

[2018-07-11 10:09] ZhangDewei opened #5310 "hello, iwant need help"
hello, i use videojs with videojs-contrib-hls and flv.js to play live stream. but my boss think videojs to heavy. So he call me to decompose videojs, remove css style. but i don't know how to do …… so please help me, thanks ( i'm chinese, english to fail, so sorry)

[2018-07-11 11:58] WoLpH opened #5312 "[HLS] How to temporarily stop buffering"
To save bandwidth I would like to auto pause the player and stop buffering after the tab was closed/blurred for more than 60 seconds (on a live HLS stream).

After activating the tab again I would like to resume playing.

It seem there have been similar questions without working answers:
 - https://github.com/videojs/video.js/issues/943
 - https://github.com/videojs/video.js/issues/985

I've tried

[2018-07-11 18:16] vin-ni commented on #455
This didn't work for me unfortunately. (I'm using just the video tag and replacing the src dynamically)
I had to set `preload` to `none`.

[2018-07-11 23:18] magikstm commented on #5310
What web server are you using? (Apache, NGINX, IIS?)

I suggest using: HTTP/2, GZIP compression as well as the minified version if you're not already

You wouldn't save a lot of KBs by decomposing or removing css styles.

[2018-07-12 05:56] kundanshrivastava opened #5314 "Is there any way to embed facebook video in videoJS ?"
## Description
How to embed facebook videos in videoJS player.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1.
2.
3.

## Results
### Expected
Please describe what you expected to see.

### Actual
Please describe what actually happened.

### Error output
If there are any errors at all, please include them here.

## Additional Information
Please include

[2018-07-12 07:54] cuixiaorui opened #5315 "Video does not set the cover in the case of mobile terminal click video invalid"
Video does not set the cover in the case of mobile terminal click video invalid.
My video instance did not set the cover, and when I clicked video on the mobile side, there was no corresponding touch event to handle it. Causes a mobile click to fail to play video.

[code]
There is no logic processing for video playback within handleTechTouchEnd_ and handleTechTouchStart_ functions。

So I did the c

[2018-07-12 10:30] Akxe opened #5316 "No translations in subtitle settings window"
## Description
If you delay `addLanguage` function just to next tick, you won't get everything translated correctly.
[Minimal test case](http://jsbin.com/axedog/edit?html,output) on JSBin you can use.

Side note:
Delay more than 25ms and none of the UI will get translated

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. Initialise video using `videojs(v

[2018-07-13 06:05] gkatsev commented on #5316
This is because the components get translated when they are initialized. If the translations aren't available then, it'll use the default language (english).
I'm not sure there's a reasonable way to fix this in Video.js. I would recommend to make sure to only create the player after the language has been loaded.

[2018-07-13 06:12] gkatsev commented on #5310
The Video.js CSS is a really small piece of the player itself, about 40K compared to around 300K of javascript. These numbers don't include gzipping.

Some of the biggest features of Video.js are the control bar, caption and subtitles support, and VHS. As part of the [Video.js roadmap](https://github.com/videojs/video.js/pull/5274) we're going to be breaking things up so that unneeded features can

[2018-07-13 06:15] gkatsev commented on #5312
Are you playing back mp4s? If so, the only real way of stopping buffering is to set the player's source to an empty string. However, browsers generally already limit how much buffering happens.
For playing back content manually via MSE, for example HLS and DASH, it may be possible to add an API that stops download when requested. We could consider such a feature request for videojs/http-streaming.

[2018-07-13 06:21] Akxe commented on #5316
I get that, but why the main UI get correct translation anyway?

---------- Původní zpráva ----------
Od: Gary Katsevman
Datum: 13. 7. 2018 v 08:05:46
Předmět: Re: [videojs/video.js] No translations in subtitle settings window
(#5316)

This is because the components get translated when they are initialized. If
the translations aren't available then, it'll use the default language
(english).
I'm no

[2018-07-13 06:29] gkatsev commented on #5314
I know that people have gotten facebook live video working via videojs-flash. Unfortunately, for regular videos I'm not aware of any plugins that can embed facebook videos within Video.js like videojs-youtube.
However, it may be possible to create such a plugin and we could provide help in doing so over on our [slack](http://slack.videojs.com).
Unfortunately, the core team doesn't have the bandwid

[2018-07-13 06:29] #5314 closed

[2018-07-13 08:02] WoLpH commented on #5312
Yes, I should have mentioned that. I'm playing a HLS stream which just keeps on buffering :)

I'll move over to videojs/http-streaming

[2018-07-13 09:33] Akxe commented on #5316
It would mean that then settings window is initialised before main UI, so my options are, either re-create the component or delay initialisation after languages?

[2018-07-13 22:29] gkatsev commented on #5315
I'm not sure I'm following you. Can you elaborate on what you mean by cover and "mobile terminal click"?
Are you saying that you can't click on the player area to begin playback on mobile?

[2018-07-13 22:31] gkatsev commented on #5316
Do you have a specific component in mind that you see is being translated? Could it be a component that updates it's state and thus could be translated during that transition?

I think the best scenario is to wait until the languages have loaded before loading the player. Though, it may be possible to notify components that a new language became available and they may want to re-render themselves

[2018-07-13 22:33] gkatsev commented on #5312
We can keep the issue here.
@forbesjo @gesinger what do you think about an API to stop buffering or is there something already that you can do in VHS?

[2018-07-13 22:40] gkatsev commented on #5223
Thanks @axten, I did enjoy my vacation :)

Also, thanks for your comments. There's definitely a lot of work to be done in here and potentially requires a re-think of the plugin ecosystem as you mention regarding how plugins are registered.

We may want to change it so that plugins are only auto-registered when they are included as a global script and if you're using them via a bundler you have to

[2018-07-13 22:43] gkatsev commented on #5276
Just a single video.js player playing a single video that's reproducing the issue on a page that doesn't have anything else in it.

[2018-07-13 23:42] Akxe commented on #5316
Play button, track, everything on GUI actually, that is why it confused me so much... See the example, it is very interesting behaviour.

[2018-07-14 00:10] MarksCode opened #5317 "Using videojs with require throwing `Cannot set property 'default' of undefined`"
I'm trying to use require.ensure in my react component:

[code]

but keep getting an error: `Cannot set property 'default' of undefined`

It happens at this point in my script:

[code]

Does anyone know why this might be happening?

[2018-07-14 17:48] #4276 closed

[2018-07-15 09:44] hao15239129517 opened #5318 "Multiple sound overlays"
There are multiple sound overlay issues on some people's computers. The browser is a 360 secure browser.

[2018-07-15 17:39] morgo77 opened #5319 "Event before source changed"
Hello

I got only a question about source changing process.
VideoJS 7.0.5 in use with a resolution-switcher plugin. I had to modify a bit but the main functionalities still the same.
I know there is an event called "resolutionchange" that is fired after a successfull source change. But I'm looking for the event that is fired before the source change started. Especially I'm looking for it to know w

[2018-07-16 06:58] cuixiaorui commented on #5315
@gkatsev
yes,
when i not setup poster of video
I can't click on the player area to begin playback on mobile.

[2018-07-16 10:20] mister-ben commented on #5319
Switching between MP4 variants isn't part of Video.js core'a functionality. The `resolutionchange` event and any event before switching would be part of whichever switcher plugin you are using, so I'd recommend checking with the developer of that plugin.

[2018-07-16 14:44] misteroneill commented on #5317
What are the contents of `public/jscripts/brightcove/index.js`?

[2018-07-16 16:04] gkatsev commented on #5319
We do have an experimental `sourceset` event that may help: http://docs.videojs.com/player#event:sourceset

[2018-07-16 16:36] MarksCode commented on #5317
Its just brightcove's version of videojs I'm pretty sure
https://players.brightcove.net/1752604059001/B1xXFuBodW_default/index.js

[2018-07-16 18:36] MarksCode commented on #2698
I keep getting an error on this line

[code]

`Uncaught TypeError: Cannot set property 'default' of undefined`

Anybody know why this might be happening?

I'm importing it in my react component like this:

`const videojs = require('public/jscripts/brightcove/index.js');`

where the `public/jscripts/brightcove/index.js` is just the brightcove script here: https://players.brightcove.net/175260405900

[2018-07-16 19:44] charlielin99 opened #5320 "Getting this error when using VideoJS and VimeoJS together. (No error with VideoJS and YoutubeJS)"
Uncaught TypeError: this.tech_[method] is not a function
    at Player.techCall_ (video.js:10515)
    at Player.load (video.js:11330)
    at HTMLDocument.<anonymous> (video-sco.js:41)
    at fire (jquery-1.7.2.js:1075)
    at Object.fireWith (jquery-1.7.2.js:1193)
    at Function.ready (jquery-1.7.2.js:435)
    at HTMLDocument.DOMContentLoaded (jquery-1.7.2.js:949)

[2018-07-17 08:57] morgo77 commented on #5319
Thank you for the quick answer. I'll modify the 3rd party plugin then.

[2018-07-17 08:57] #5319 closed

[2018-07-17 10:50] msushanktheglitch opened #5323 "Buffering while looping a section of the video"
I have been using videojs for one of my websites. What I am doing is looping a section of the video. Please see the example below.

myPlayer = videojs('main_video');
setInterval(function(){
    if(myPlayer.currentTime() > 24){
        myPlayer.currentTime(20);
    }
}, 40);

On the desktop it works perfectly fine, but on the phone when the video goes back to 20th second, the video gets stuck for a

[2018-07-17 13:17] akamdar opened #5325 "Video is getting paused when switching from fullscreen to normal mode on iOS 11"
## Description
I just encounter this issue only on iOS 11. Video is getting paused when switching from Fullscreen mode to Normal mode. I have also tried to play video from https://videojs.com/advanced/ link and it is also happening on it.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. Play a Video
2. Switch to fullscreen mode
3. Now again switch to no

[2018-07-17 19:05] forbesjo commented on #5223
I believe you should be able to import video.js without VHS by doing:
`import videojs from 'video.js/core';`

[2018-07-17 20:53] forbesjo commented on #5070
The fix has been deployed in VHS, it should be picked up by video.js 7 some time soon

[2018-07-17 21:52] gkatsev commented on #5223
@forbesjo issue is that if you load other things that require video.js, you end up with `video.js` and `video.js/core`. You can work around it by using aliases in webpack and alias `video.js` to `video.js/core.js` but that's not ideal.

[2018-07-17 22:29] gstrat88 commented on #5140
There is a bigger problem regarding hls, reset and text tracks.
Hls saves segment metadata as text tracks, so each time a reset is called these text tracks are copied. After some loads and resets the copied json is very big, causing reset to halt because of the addRemoteTextTrack execution. Solution is easy, just call tech().clearTracks("text") before reset as in my situation there are no "real" t

[2018-07-18 18:09] ldayananda commented on #5325
Thanks for submitting an issue! If I recall correctly the native Safari player is used when switching into fullscreen mode on iOS. Would you be able to test if the same behavior is seen when using a video element without video.js as well?

[2018-07-18 20:08] gesinger commented on #5323
Hey @msushanktheglitch thanks for reporting. Does this only happen on the MI browser, or have you also observed the behavior on others?

If you would be able to test on mobile Chrome as well, and provide a demo page, we'd appreciate it. Often, particularly with mobile browsers, the behavior can vary quite a bit.

Thanks.

[2018-07-18 20:16] msushanktheglitch commented on #5323
Thank your for your response. I have observed this on all mobile browsers. I will share the demo link shortly. Meanwhile do you see any possible solution for the same.

[2018-07-18 20:22] gesinger commented on #5312
Hey @WoLpH , the player should continue buffering until it reaches the max allowed buffer (GOAL_BUFFER_LENGTH), but then the buffering of segments should stop. We don't often see requests to pause buffering entirely as usually people aren't too concerned with filling the buffer in the background. In addition, 60 seconds is usually enough time to fill the buffer (for most bandwidth and rendition bi

[2018-07-18 21:19] WoLpH commented on #5312
@gesinger Thank you for the detailed response, that helps a lot :)

I'll give a bit more background info in case it helps.
The reason for wanting to pause it entirely is that it's a live HLS feed of a camera using a 4G connection with limited traffic, so if the user stops watching it shouldn't keep on playing too long.

You are indeed correct about the loading. Upon further inspection it appears t

[2018-07-18 22:32] maykbrito commented on #3283
I'm with this issue too
someone has discovered how to resolve this?

I can't play in iOS
here is an example dvd.shekina.mus.br

[2018-07-19 00:23] hao15239129517 commented on #5318
@ldayananda We uploaded MP4 video files through the background management system。Sounds are normal in both chrome and edge browsers, but the chrome kernel using 360 Secure Browser will have multiple sound overlays in the same video. When paused, the sound is still playing.The videojs version is 6.7.4.

[2018-07-19 13:52] mriol94 opened #5330 "How can I disable childrens of video-js"
## Description
Briefly describe the issue.
I want disable all auto generated divs from my little project.

[code]

When I load the page then, appears this under de video tag

[code]

How can i disable this?

Thanks.

[2018-07-19 14:43] gkatsev commented on #5330
Why do you want to disable all these divs? I noticed that you may not be including the Video.js CSS file on the page and adding the class to the video element. When the CSS is available, it'll make sure that the elements are hidden as appropriate.

[2018-07-19 20:55] ldayananda commented on #5318
Are you able to provide a reduced test case to help us debug or at least a video source? Our [issue template](https://github.com/videojs/video.js/blob/master/.github/ISSUE_TEMPLATE.md) has a JSbin you can start from.

[2018-07-19 21:11] ldayananda commented on #5318
Are you able to reproduce this issue on Chrome, IE, Edge, Firefox or Safari?

[2018-07-19 21:23] mriol94 commented on #5330
I just want to show the video without any controls

[2018-07-19 21:33] mriol94 commented on #5330
still the same

[2018-07-19 21:40] gkatsev commented on #5330
You probably still need to include the Video.js CSS and also target its class:
[code]
You can self-host the CSS as well.

[2018-07-19 23:03] mriol94 commented on #5330
not works

[2018-07-20 05:17] #4039 closed

[2018-07-20 21:21] gkatsev commented on #5330
Here's a working example: https://jsbin.com/lenuyus/edit?html,js,output
Hope it helps

[2018-07-20 21:31] gkatsev commented on #5310
Closing.

If there are more specific questions, we can help out in the comments of the closed issue or on [slack](http://slack.videojs.com)

[2018-07-20 21:31] #5310 closed

[2018-07-20 21:33] gkatsev commented on #5304
Given that this is a dash.js bug and there's already an issue there to track this, I'm going to close this.
If, after the dash.js is fully fixed and there are still issues here, feel free to open a new issue.

Thanks.

[2018-07-20 21:33] #5304 closed

[2018-07-20 21:37] gkatsev commented on #5303
I believe this is if you seek and then move the mouse outside of the window and then release, we stay in "clicked"/seeking mode. We had an older issue around this but I can't find it.
Browsers don't really provide a way to know this happened. I'm guessing what we need to do is see whether the mouse button is clicked in `mousemove` handler and if we were previously clicked and we suddently got a mo

[2018-07-21 11:05] hao15239129517 commented on #5318
@ldayananda Sorry.On Chrome, IE, Edge, Firefox or Safari is normal.On some people's computers is not normal using 360 Secure Browser.The 360 Secure Browser download url is:https://browser.360.cn/se/

[2018-07-22 09:31] Bluebang opened #5336 "How do I set up the key file only one request?"
The movie file is only used with a keyfile, how to set it to make it unnecessary to request TS files every time to request video.key file?

![qq 20180722172303](https://user-images.githubusercontent.com/22443960/43044165-f81fbc8a-8dd3-11e8-8951-c2fd27e4eb86.png)

This effect I want:
![qq 20180722173612](https://user-images.githubusercontent.com/22443960/43044269-bc8f8068-8dd5-11e8-8f8f-6d1f4d93260

[2018-07-22 18:17] OwenEdwards commented on #3011
This is really more of a browser issue than a video.js issue.

The concept of fallback content inside the `<video>` element was included in the HTML5 spec to provide some kind of support for older browsers which didn't support that new element, and video.js built on top of it by using JavaScript to polyfill for those browsers, but the fallback content was still shown when video.js doesn't run beca

[2018-07-23 01:08] Pong420 commented on #5303
Sorry i'm not state clearly.
Just like you said but my problem is the mouse release outside of the player not window.

We cloud call  `handleMouseUp()` when mouse leave the player
https://github.com/videojs/video.js/blob/8257a372e1792dbc78fe215c298e228cf6643a4d/src/js/player.js#L3274
[code]

or binding `mouseup` listener on document
[code]

[2018-07-23 01:16] mreinstein commented on #603
@heff @gkatsev This still seems to be a problem in 6.10:

http://jsbin.com/nuveduhutu/7/edit?html,js,console,output

[code]

can we re-open this issue please?

[2018-07-23 06:47] IhorVimmi opened #5337 "Don't play video in Opera on Ubuntu 16.04"
## Description
Problem with player on Ubuntu 16.04, Opera Browser

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. Open page with player in Opera on Ubuntu

## Results
VIDEOJS: ERROR: (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED) The media could not be loaded, either because the server or network failed or because the format is not supported.
###
Expected - Vide

[2018-07-23 06:53] Bluebang opened #5338 "How can i disable play and pause event when seeked event is fire?"
How can i disable play and pause event when seeked event is fire?

[2018-07-23 06:53] #5336 closed

[2018-07-23 07:39] IhorVimmi commented on #5337
Working solution enable opera flag Negotiation with encrypted header extensions for SRTP in WebRTC

[2018-07-23 08:04] IhorVimmi commented on #5337
Fixed in Opera 54.0.2952.60

[2018-07-23 10:16] multivoltage commented on #1871
Please @heff can you show me hot to check this version?

[2018-07-23 11:07] edwinbradford commented on #3011
Thanks for the explanation. Hopefully anyone else discovering the same issue will find your answer here.

[2018-07-23 17:28] davidstelter opened #5339 "Leak of ResizeManager and event listeners in 7.0.5"
## Description
While troubleshooting a memory leak in our app which was using videojs 7.0.3, I came across an apparent memory leak resulting from some flaw in Player.dispose() or one of the components it deferred disposal duties to. I upgraded to 7.0.5 to see if the issue just got better and it did! But then there was a different leak. Using Chrome's heap snapshot comparison feature, I found that

[2018-07-23 17:40] gkatsev commented on #5339
Theoretically, the user shouldn't need to do anything and video.js should take care of everything on dispose. The only requirement is that the elements shouldn't be removed from the DOM until Video.js is done disposing.

 A reduced test case would be great!

Also, if you find any other leaks, we'd be happy to take a look and work with you to fix them!

[2018-07-23 18:11] gkatsev commented on #5339
Also, would be good to look and see if the dispose method of the ResizeManager is working properly and whether things are getting unbound: https://github.com/videojs/video.js/blob/e63776862fcc7b4d659a4b67747c049da31b9d24/src/js/resize-manager.js#L98-L118

[2018-07-23 18:12] ldayananda commented on #5318
Thanks for trying this out on those browsers! Unfortunately, we don't officially support 360 Secure browser and since you don't observe any issues on major browsers it is unlikely that Video.js is the cause of the issue. If you are able to debug the issue and find that you can reproduce a bug with the Video.js player on one of those 5 browsers, feel free to open a new issue with an example source

[2018-07-23 18:12] #5318 closed

[2018-07-23 18:13] gkatsev commented on #5336
There's a PR in progress over here https://github.com/videojs/videojs-contrib-hls/pull/1433

[2018-07-23 18:14] gkatsev commented on #5338
Unfortunately, until we're able to refactor how seeking behavior functions in Video.js, there is no way of doing that. You can check if the player is seeking by looking at `player.seeking()`.

What's your usecase, maybe we can help out some more?

[2018-07-24 00:33] davidstelter commented on #5339
OK, pretty sure dispose is called before anything happens to the DOM on our side, I'll try to get a reduced test case together this week. Thanks!

[2018-07-24 14:17] #5320 closed

[2018-07-24 18:00] MatheusMoura17 commented on #2724
hi @gkatsev, the problem is still persisting. I using videojs v6.8.0 and requirejs v2.3.2

![](http://i68.tinypic.com/2r6h7jn.jpg)

[2018-07-24 18:03] gkatsev commented on #2724
@MatheusMoura17 can you please open a new issue with a reduced test case? Thanks.

[2018-07-24 20:08] #5140 closed

[2018-07-24 20:41] gkatsev commented on #5337
Sounds like this can be closed?
What type of content are you playing that you got this error?

[2018-07-25 01:20] MatheusMoura17 opened #5343 "Problem with requirejs - Uncaught ReferenceError: videojs is not defined"
Hi, I'm trying to integrate videojs into a Moodle environment. That has dependency [require.js](https://requirejs.org/).
I'm getting the error:
![](http://i65.tinypic.com/34zwtib.png)
![](http://oi68.tinypic.com/14scv4l.jpg)

I believe it's something related to the loader of require.js
I saw that the problem was mentioned earlier at https://github.com/videojs/video.js/issues/2724

Reduced test cas

[2018-07-25 07:29] Yijx opened #5344 "When I play encrypted video with hls videojs tell me 'The media playback was aborted due to a corruption problem or because the media used features your browser did not support.'"
## Description

sorry I am not good at English
I meet a question
when I use videojs7.0.3 play a normal hls video, Chrome,Mac,Android, FireFox are ok, they all can play the m3u8,
but when I play a encrypted m3u8, Other browsers can play normally,but Mac Android IOS tell me 'The media playback was aborted due to a corruption problem or because the media used features your browser did not support.'

[2018-07-25 19:37] wowcut commented on #1805
I am looking for exactly this and I am not able to answer these questions myself from the docs atm:
* How is the current state of reloading videos on errors?
* What is the current best practice?
* Does videojs handle reloading the same source or loading next source on error at all?
* If yes, how can I configure the number of reload tries and timeouts?
* Does exist some advanced logic, e.g. increas

[2018-07-25 20:05] wowcut opened #5345 "can not find source of http://videojs.com/advanced/"
Sorry, but I can not find the source for http://videojs.com/advanced/.
There are at least two github.com urls on that page, but they go to https://github.com/videojs/video.js - n advanced.js anywhere to see. Is there a repo for this advanced player example?
Thanks!

[2018-07-25 20:07] gkatsev commented on #5345
We should probably link to it on the site but all the website code is on the website repo: https://github.com/videojs/videojs.com

html: https://github.com/videojs/videojs.com/tree/master/_harp/advanced
js: https://github.com/videojs/videojs.com/blob/master/_src-js/advanced.js

Hope that helps.

[2018-07-25 20:07] #5345 closed

[2018-07-25 20:10] gesinger commented on #5344
Hey @Yijx , thanks for reporting, and including the sample code. The platforms you mentioned, Mac, Android, and iOS, use native playback for HLS. This means that playback won't run through the custom code (or most of our code, for that matter). You can try using https://github.com/videojs/http-streaming#overridenative to override the native playback for those browsers. Let us know if this helps!

[2018-07-25 20:36] gkatsev commented on #5159
I have a fix for this in #5332

[2018-07-25 20:51] gkatsev commented on #5070
This is fixed in @vidoejs/http-streaming 1.2.1 and it's in Video.js as of commit 7b6aa5c03d0e973cbe4e665ce5e58397a09e9ba3, it'll be in the next release.

[2018-07-25 20:51] #5070 closed

[2018-07-25 21:33] #5159 closed

[2018-07-26 16:31] Chocobozzz commented on #5131
@gkatsev We have the same bug. It's because of `this.activeCues` https://github.com/videojs/video.js/blob/4d3331e3be17198d9e0eefab29d06134928de5d8/src/js/tracks/text-track.js#L181 that is removed by uglify.

[2018-07-26 17:37] gkatsev commented on #5131
@Chocobozzz interesting, do you know which rule removes that?

[2018-07-26 17:41] Chocobozzz commented on #5131
@gkatsev Yes, it's the `pure_getters` rule https://github.com/mishoo/UglifyJS2/#compress-options

Unfortunately we cannot change this rule in angular-cli...

An easy fix would be to change the line to `this.activeCues = this.activeCues` since the `activeCues` setter has no effect.

[2018-07-26 17:51] gkatsev commented on #5131
@Chocobozzz seems like that should work, would you be interested in making a PR for that?

[2018-07-26 18:16] #5131 closed

[2018-07-26 18:17] gkatsev commented on #5131
Thanks @Chocobozzz! I plan on doing a release of Video.js today, so, it should go out then.

[2018-07-26 18:55] fketchakeu opened #5347 "VideoJS does not update the duration display when the duration is NaN or 0."
## Description
VideoJS does not update the duration display when the duration is NaN or 0.
Here is a [reduced test case](https://codepen.io/fketchakeu/pen/eVGggG) (Case A).
The issue also occurs when changing the player source and `preload` = 'none'.
Here is a [reduced test case](https://codepen.io/fketchakeu/pen/ZrXpoZ) (Case B)

## Steps to reproduce Case A
Go to [Case A](https://codepen.io/fket

[2018-07-26 19:22] gkatsev commented on #5347
I do see the duration change in case b when the new source is loaded. I see it change from 21s to 30s.

As for case A, what's the usecase for setting a duration of 0 or NaN? Infinity does work and it puts the player into a live state as that's what a duration of infinity represents. I'd except you to only call `player.duration()` if you have a known/better duration than what the media returns.

[2018-07-26 20:02] Anton700 opened #5349 "Only one video is playing in Edge"
I used VideoJS to play 14 live videos (m3u8) on one web page. Video is playing in all browsers except in MS Edge where nothing happens on click. Only last video is playing automatically (not supposed so) and on random video is message

I included video.js, videojs-flash.js and videojs-contrib-hls.js
Example:
`
--
  | <video id=promet2 width=600 height=480 class="video-js vjs-big-play-centered" con

[2018-07-26 20:31] fketchakeu commented on #5347
I removed the reference to Infinity, since it doesn't apply here.

In case B, the duration display updates only after the video starts playing, not when the source is changed. It cannot have changed from 21s to 30s prior to playing since `preload` is 'none'.

A use case for case A is actually case B. When the source is changed, duration should change to NaN according to W3C specs (https://www.w3.o

[2018-07-27 01:54] DoomTay commented on #5343
If it weren't for the fact that your use case has no plugins loaded, I would think that it may or may not be related to https://github.com/videojs/generator-videojs-plugin/issues/193

[2018-07-27 01:57] DoomTay opened #5351 "A gap appears underneath a player that takes up the entire page, such as in an iframe embed"
On a minimal example, this only comes up in Firefox, but in a real-world implementation, not only would it happen in Chrome as well, but on Chrome, the scrollbar would rapidly appear and disappear

[Here](https://github.com/videojs/video.js/files/2234111/embed.zip) is a minimal use case, along with a real-world example

[2018-07-27 07:10] Chocobozzz commented on #5131
Yeah! Thanks @gkatsev, it's really a pleasure to have a module with a great support, that releases a fixed version just a few hours later. :kissing_heart:

[2018-07-27 11:16] Akxe commented on #836
I have this problem too, but is it normal that the same video can play in native video element?

[2018-07-27 22:54] FutureKen commented on #4887
@BijayRai If you need to do something while the video is paused, you could add **this.currentTime(this.currentTime());** on video 'pause', it asks video player to seek current time. I have this issue in Chrome too, but after adding this, it seems the issue has gone now.

[2018-07-30 16:07] papigers opened #5352 "Download/stream video in chunks with quality selecton"
This isn't really a bug, more of a feature request/question.
I want to create a video streaming website, like youtube and I've been stuck on 2 requirements which I'm not sure if videojs solves or not.
1. Say there's a 1-hour video, I want the video to be downloaded and streamed in chunks, and not the whole file. I've seen that streaming format like HLS and DASH, solves that (looking on the network

[2018-07-30 17:41] gkatsev commented on #5352
HLS or DASH does sound like the way to go. ABR is still definitely useful and most users prefer that, though, some (I'm one of them) do want to pin to a particular version sometimes.

Contrib-hls has been replaced by [videojs/http-streaming (VHS for short)](https://github.com/videojs/http-streaming), but both support [videojs-contrib-quality-levels](https://github.com/videojs/videojs-contrib-quali

[2018-07-30 20:19] OwenEdwards opened #5353 "Need to update "vjs-no-js" detection and text to clarify <video> element support vs. video format support"
As noted in #3011, the `vjs-no-js` fallback text & link works for browsers which don't support the HTML `<video>` element, but not for browsers which **do** support that element but don't support the format specified (e.g. HLS on many browsers). As video.js has evolved to fulfill that second purpose, we need to clarify the fallback mechanisms and the text of them for various situations.

[2018-07-30 20:44] gkatsev commented on #5349
I've just tried your page on Edge locally and I can play multiple players at the same time.
trying to play more than a few players at the same time can be problematic on any browser and not just Edge because each segment and manifest is request so there will be a lot of requests at the same time. It's possible that the error came up because the request for the source failed because it was busy res

[2018-07-30 21:05] gkatsev commented on #5351
So, a workaround for this is to add `scrolling="no"` to the iframe embeds.

In Chrome, locally, it actually works fine but I do see it in Firefox.

Investigating it, it seems like the progress-control is the one that causes this issue.

[2018-07-30 21:09] gkatsev commented on #5351
Looks like it's the time tooltip of the play progress bar that causes the overflow.

[2018-07-30 21:13] gkatsev commented on #5351
Seems like the fix is pretty easy to just change `position: relative` to `position: absolute` for the tooltips?

[2018-07-30 21:18] first-timers[bot] opened #5354 "fix: change time tooltips to be absolutely positioned"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-07-30 21:27] decarbonite commented on #5354
Hello, may I claim this issue please?

[2018-07-30 21:29] gkatsev commented on #5354
@decarbonite you got it!

[2018-07-30 21:30] Neidley commented on #5354
Hello :) May I claim this issue?

[2018-07-30 21:32] gkatsev commented on #5354
@Neidley hey, unfortunately, it's already been claimed :(

[2018-07-30 21:47] decarbonite commented on #5354
@gkatsev I opened the pull request, could you please review it? Thanks

[2018-07-31 00:02] kavija opened #5356 "React and VideoJS - onClick Event"
I have React application that uses videoJS to play the videos. I want to override the click event. On clicking on the video, it should perform an action (eg: console log) before the video gets played.

Here is how the video component is constructed

import React from 'react';
import VideoPlayer from '../Player/VideoPlayer'

const VideoDetail = ({video}) => {
    //Check if video object is valid

[2018-07-31 00:42] victorpfm opened #5357 "Cannot read property 'IS_IOS' of undefined"
## Description
I'm trying to use videojs 7.2.0 with videojs-youtube 2.5.0 but I'm getting this error: **Cannot read property 'IS_IOS' of undefined**

It refers to a line of code on videojs-youtube:
`var _isOnMobile = videojs.browser.IS_IOS || videojs.browser.IS_NATIVE_ANDROID;`

When I do it using cdn it works correctly:
http://jsfiddle.net/victorpfm/yendv5g2/

But when I try to use it inside a vu

[2018-07-31 08:16] Yijx commented on #5344
thank you very much!!

[2018-07-31 08:16] #5344 closed

[2018-07-31 14:41] edwinbradford commented on #1675
In case its of any use to anyone I just added an answer to [Stack Overflow](https://stackoverflow.com/questions/27022730/video-js-display-poster-image-at-end-of-video#51615981) showing how to use `vjs-ended` to show the poster image at the end of the video.

[2018-07-31 20:11] surikat1978 commented on #5337
Enable opera://flags/#dynamic-demuxer-selection.

And, if you want, set opera://flags/#autoplay-policy to "No user gesture required".

[2018-07-31 20:40] #5351 closed

[2018-07-31 20:42] gkatsev commented on #5354
Fixed via #5355. 🎉

[2018-07-31 20:42] #5354 closed

[2018-08-01 03:36] papigers commented on #5352
Seems like you've solved all my problems :)
Thanks, I'm closing this now.

[2018-08-01 03:36] #5352 closed

[2018-08-01 04:04] gkatsev commented on #5352
You're welcome!

[2018-08-01 09:09] Akxe commented on #4467
How is this solved? I just got the same issue, the workaround in good to have, but definitely not a solution, if I use `player.src({ src, type })`, I would assume it would create the source with type, so it can play as intended...

[2018-08-01 11:53] Akxe opened #5358 "Advanced example down"
## Description
See title

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. go to https://videojs.com/advanced/

## Results
### Expected
Example

### Actual
Nothing really?

### Error output
`Uncaught TypeError: Cannot read property 'dom' of undefined`

[2018-08-01 14:47] gkatsev commented on #5358
Thanks for pointing this out, we'll take a look. Could be related to forcing HTTPS recently.

[2018-08-01 14:55] Akxe commented on #5358
Not sure it is few days already, thought it would be reported by now... But
at least it is now...

---------- Původní zpráva ----------
Od: Gary Katsevman
Datum: 1. 8. 2018 v 16:48:31
Předmět: Re: [videojs/video.js] Advanced example down (#5358)

Thanks for pointing this out, we'll take a look. Could be related to forcing
HTTPS recently.

—
You are receiving this because you authored the thread.
R

[2018-08-01 18:49] #5358 closed

[2018-08-01 18:51] gkatsev commented on #5358
Thanks, should be fixed as soon as netlify deploys the updates.

Also, if possible, making these issues against the videojs.com repo would be preferable :)

[2018-08-01 18:51] gkatsev commented on #5358
Looks like it's live now.

[2018-08-01 20:31] IllyaMoskvin commented on #2750
**Disclaimer:** I don't know what I'm doing. I'm new to webpack, ES6, etc.

Using @amccloud's suggestion:

[code]
...bloated my _minified_ `app.js` by a whopping **3.7 MB**!

Now, I don't know if that's to be expected in the webpack world, but I'm confused.

When using the CDN, `video.js` is only 330 KB, and video.min.js is 108 KB:

- https://vjs.zencdn.net/7.1.0/video.js
- https://vjs.zencdn.net/

[2018-08-02 09:10] Akxe commented on #5358
Sorry haven't thought about it, didn't even knew about page github, maybe we could write it into issue as a note?

[2018-08-03 06:31] Bluebang commented on #5338
I did some business that save the user's playback record or other information the start and pause events，when the `seeked()` also triggers other events, And their triggers are unordered ，It will bring me a lot of trouble.

[2018-08-03 09:07] baronkoko commented on #284
Or add preload='metadata' to load only metadata when the page loads

[2018-08-03 10:22] Akxe opened #5360 "Better way to initialise plugins"
## Description
VideoJS should have better way to initialising plugin than `player.myPlugin(...options)`, this is a problem if you encounter TypeScript.

## Behaviour

### Actual
`player.myPlugin(...options)`, this is fine for JS but TS must cast player to any.

### New proposal
`player.usePlugin(name: string, ...options: any[]): any` find plugin by name and apply options.
`player.usePlugin(plugin:

[2018-08-03 16:06] gkatsev commented on #5360
Why do you have to cast it to `any`? Is it because the typings for the player don't include plugin methods?

[2018-08-03 16:28] Akxe commented on #5360
Indeed player don't have it typed unless you extend the player by yourself... Also as I think about it, if some public variables, maybe `player.acces(name, property)` but that's an other thing...

[2018-08-03 18:31] cguess commented on #5357
I'm getting the same error message using Yarn as my package manager. Safari and Chrome (MacOS 10.13.6) both throw the same errors.

[2018-08-03 19:41] tapvt commented on #5357
I can confirm the same with:

- `videojs@7.2.0`
- `videojs-youtube@7.5.0`
- OS: AWS Linux 2 (AWS Workspace)

[2018-08-03 20:53] alex-barstow commented on #5099
Please provide a reduced test case and detailed steps to reproduce so we can better assist you.

[2018-08-04 16:56] misteroneill commented on #5360
Hmm, interesting. It would be nice if Video.js were easy to use with TypeScript.

I think the `usePlugin` idea has more potential for this specific use-case. I think something like this:

[code]

is a nicer interface than this:

[code]

Though, I could see the latter generic property getter being a useful thing in some cases. Similar to `getattr` in Python, for example.

[2018-08-04 17:49] Akxe commented on #5360
That was exactly what it was meant to be, `player.acces(name, attr)`. I
would love that, just keep in mind to edit type definitions too. And many
thanks for your time on making it accessible to typescript

---------- Původní zpráva ----------
Od: misteroneill
Datum: 4. 8. 2018 v 18:57:39
Předmět: Re: [videojs/video.js] Better way to initialise plugins (#5360)

Hmm, interesting. It would be nice if

[2018-08-05 07:29] krishaamer commented on #5357
Same here.

[2018-08-05 09:36] badasscode commented on #3725
@rof20004 I have the same problem right now. I can not get to the error messages ran. Can you explain your approach with hls.js?

[2018-08-05 17:04] badasscode commented on #3725
Thx a lot 👍

[2018-08-06 10:56] Akxe opened #5362 "Player.play() does not return promise"
## Description
I seem not to get promise from `player.play()` method call.

## Steps to reproduce
1. Set up player
2. Call `player.play()`

## Results
### Expected
Promise as return value for supported browsers, undefined in others.

### Actual
Undefined only.

## Additional Information
Please include any additional information necessary here. Including the following:
### versions
#### videojs
7.2

[2018-08-06 16:55] mysuf commented on #5233
I can confirm that too. I can also say that it happend somewhere between v6.7.4(works) and v6.10.0(doesnt work) and probably will be somehow related to cloning video tag and its attributes..

[2018-08-07 08:43] vikramarka commented on #4199
The above solution doesn't work in Edge/IE browsers as "playing" event doesn't get triggered after "waiting".

[2018-08-07 14:32] MatheusMoura17 opened #5364 "vjs-dimensions converting percentage in pixels"
Adding a percentage value into `width` attribute in the `video` tag. Videojs is converting % into pixel.

Minimal example:
https://jsfiddle.net/7avfe0zm/5/

[2018-08-07 14:58] gkatsev commented on #5364
This used to work in Video.js 4 and older but it was removed in Video.js 5 and newer as it was a non-standard behavior and allowed us to simplify the code a bit. The `width` and `height` attributes on the video element expect a pixel value.
I guess our parsing currently ignores any symbols and treats the parsed value as the pixel value. We should potentially just use the default width (or match wi

[2018-08-07 15:48] MatheusMoura17 commented on #5364
I thought about it, but I opened the issue to confirm, since some browsers support.

Tks @gkatsev!

[2018-08-07 15:48] #5364 closed

[2018-08-07 15:49] gkatsev commented on #5364
You're welcome!

Did you have any thoughts on what our behavior should be when the value given isn't just a number?

[2018-08-07 15:59] MatheusMoura17 commented on #5364
Considering the above specifications, the behavior is fine.
Developers who have the same problem will find this issue.

[2018-08-07 16:00] gkatsev commented on #5364
Sounds good. Thanks for chiming in!

[2018-08-07 17:13] aritouni commented on #3473
hello if this can help for font awesome just insert two classes like this to @gkatsev exemple 👍

var Button = videojs.getComponent('Button');
var MyButton = videojs.extend(Button, {
  constructor: function() {
    Button.apply(this, arguments);
    /* initialize your button */
this.addClass( 'fa' );
this.addClass( 'fa-toggle-off' );
  },
  handleClick: function() {
    /* do something on click */

[2018-08-08 15:51] misteroneill commented on #5362
The `Player#play()` method will currently only return a promise under a few conditions:

- The player/tech must be ready.
- The player must have a source.
- The player must not be changing sources.

We are currently undertaking some work to improve this situation, though, but hopefully that helps you understand the current situation.

[2018-08-08 15:55] misteroneill commented on #5360
Another benefit of a `usePlugin` interface would be that we could dispense with the plugin-wrapping we do now in a future major version of Video.js.

[2018-08-08 20:16] MarksCode commented on #4883
Did you ever find a solutions @Jeff-Coons

[2018-08-09 07:59] Akxe commented on #5362
I did work around this using `player.el().querySelector('video').play()`... I suspect that it is due to having `player.src(data.streamPreviewUrl)` on previous line. It is somewhat inconvenient as  often those two go hand in hand, Maybe, you could pass the rejection, if it happened? It is usually due to safari bug.

[2018-08-09 08:19] Akxe commented on #5360
This is the old way, it is working and isn't even too bad. But you have to cast few types to

./plugin/example.ts
[code]

./player.ts
[code]

New proposal
[code]

and
[code]

It is not perfect, open to suggestions.

[2018-08-09 14:47] gkatsev commented on #5362
I'm about to merge #5227 which should greatly improve returning `Promise` from `play()` in all cases. Following that, we're going to work on polyfilling the promise as necessary for browsers that don't return a promise from play like IE11.

[2018-08-09 15:15] gkatsev commented on #5357
This is most likely has to do with babel ES6 / ES5 usage and should be fixed via https://github.com/videojs/videojs-youtube/pull/512 in the new videojs-youtube version 2.5.1 which is now out.

[2018-08-09 15:15] #5357 closed

[2018-08-09 17:57] swaraasolutions opened #5366 "Incorrect zoom for VideoJS on Chrome seems to be an issue with object-fit"
## Description
The player has been generated using videojs-contrib-hls plugin however when viewing on chrome the player seems to be zoomed and the portion on right is not visible. But with the same code it is visible with IE Edge, Firefox and Safari correctly

## Sources
Not Sure

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.

1. Create a basic videojs p

[2018-08-09 18:36] alex-barstow commented on #5366
Can you please create and share a reduced test case using this [template](http://jsbin.com/axedog/edit?html,output)? I am not seeing the same behavior with v7.2.0 out of the box. Providing a test page that you have verified reproduces the problem will help us better assist you.

[2018-08-09 19:46] swaraasolutions commented on #5366
Hi Alex,

Thanks for your quick response

Following are the versions that I have created

V6 = http://jsbin.com/lirogavoni/edit?html,output

V7 = http://jsbin.com/qihojaluho/edit?html,output

If you are unable to play the video please visit the below link as it manages session cookies for authentication

https://bit.ly/2vUIdjJ

The first in the list is the video that I am trying to play in VideoJS

[2018-08-09 21:26] thijstriemstra commented on #5356
this is not a videojs issue, but more suitable for stackoverflow. Also please correct the ticket markup, it's hard to read like this.

[2018-08-09 21:32] alex-barstow commented on #5366
Thank you. I was able to reproduce the issue. At first glance, it looks like the player's `padding-top` is being set differently in Chrome than other browsers when the `fluid` option is `true`. I'll look into it

[2018-08-10 05:17] ksperling commented on #5233
I'm running into the same issue (Chrome 67.0.3396.99).

I've created a small JSFiddle reproducing the problem: https://jsfiddle.net/karstenlh/96hrzp5w/

`manualAutoplay_` seems to be called twice. The first time around tech isn't ready, so it does nothing. The second time it calls `play`, however `changingSrc_` == true so play just sets up the `playOnLoadstart_` callback, and doesn't even return a

[2018-08-10 08:16] swaraasolutions commented on #5366
Thanks Alex

Much appreciated. Any time frame when we can expect a resolution or maybe a patch that we can apply.

Thanks

Varun V>

From: Alex Barstow <notifications@github.com>
Sent: 10 August 2018 03:03
To: videojs/video.js <video.js@noreply.github.com>
Cc: swaraasolutions <info@swaraasolutions.com>; Author <author@noreply.github.com>
Subject: Re: [videojs/video.js] Incorrect zoom for VideoJS o

[2018-08-10 14:15] aecorredor commented on #5285
@gjactat did following the above procedure work? I am having my player freeze on any non-apple player when switching audio tracks (specifically to audio description).

[2018-08-10 14:48] alex-barstow commented on #5366
I don't expect it will take long to find the root cause of this, but I don't have an exact time frame. As a short (or long) term fix you can add the `vjs-16-9` class to the player which will force the 16x9 aspect ratio across every browser. I've confirmed that this works on my end.

[2018-08-10 14:52] swaraasolutions commented on #5366
Hi Alex,

Thanks for the response.

Is there any possibility I can add vjs-4-3 and will it be able to resolve the issue?

Thanks

Varun V.

From: Alex Barstow <notifications@github.com>
Sent: 10 August 2018 20:20
To: videojs/video.js <video.js@noreply.github.com>
Cc: swaraasolutions <info@swaraasolutions.com>; Author <author@noreply.github.com>
Subject: Re: [videojs/video.js] Incorrect zoom for Vi

[2018-08-10 14:55] alex-barstow commented on #5366
Yes, both `vjs-4-3` and `vjs-16-9` should ensure a consistent aspect ratio is used across browsers.

[2018-08-10 15:36] gkatsev commented on #5366
You can also pass in `aspectRatio` option with a value like `'16:9'` to get any aspect ratio. `vjs-4-3` and `vjs-16-9` are just so common that we provide the classes for them by default.

[2018-08-10 16:56] swaraasolutions commented on #5366
@alex-barstow I tried the solutions that you provided however when i try it on the vjs-7 jsbin that i shared it doesn't reflect the changes

[http://jsbin.com/renogawodi/edit?html,output](url)
@gkatsev i tried using your solutions too but that too didn't workout on the vjs7.

Your help is much appreciated.

Thanks
Varun

[2018-08-10 17:17] gjactat commented on #5285
@aecorredor It didn't work for me. I had to switch back to the latest videojs 6+videojs-contrib-hls which is more stable. I'll get back to version 7 when native HLS support will be ok.
These kind of issues reminds me the problems I encountered with videojs-contrib-hls in 2016. These issues were finally fixed (you can still find traces of them on Google/Github).

[2018-08-10 17:31] aecorredor commented on #5285
@gjactat alright thanks, and for videojs-contrib-hls which version are you using?

[2018-08-10 17:40] alex-barstow commented on #5366
Interesting, it works for me on that page. The aspect ratio changes accordingly when adding/removing `vjs-4-3` and `vjs-16-9`, and when setting the `aspectRatio` option.

[2018-08-10 19:26] alex-barstow commented on #5366
I have only tested with Chrome and Safari so I can only speak to the disparity there, but it looks like the root cause in that case is that the aspect ratio is falling back to the default 16:9 in Safari (instead of the correct 4:3) because the video's width and height are still 0 at the time the `loadedmetadata` event occurs (which is when the player attempts to calculate the video's dimensions).

[2018-08-10 19:38] gkatsev commented on #5366
Yeah, they should but I guess as always the answer is "it depends". It should have it but it's possible that there's a bug or something that's preventing it from working properly.

[2018-08-10 19:46] gkatsev commented on #5339
@davidstelter it's possible we found out the source of the leak and it should be fixed in #5369. Should be out in our next release.

[2018-08-10 20:21] #5339 closed, assigned to nobody

[2018-08-10 20:29] gkatsev commented on #3927
Actually, re-opening this one for the follow-up work for IE11 and browsers that don't return a `promise` from `play()`.

[2018-08-10 20:30] gkatsev commented on #5362
#5227 has been merged and will be released in the next patch release. Going to close this in favor of #3927 to track work for IE11/browser that don't return a promise from `play()` work.

[2018-08-10 20:30] #5362 closed

[2018-08-10 20:37] alex-barstow commented on #5366
Ah OK, after looking at the [spec](https://html.spec.whatwg.org/multipage/media.html#event-media-loadedmetadata), it is pretty explicit about the media's dimensions being available on `'loadedmetadata'`. I've tested various HLS content in Safari, and in all cases the dimensions are 0 on loadedmetadata, so this does appear to be a Safari bug.

[2018-08-10 20:38] gkatsev commented on #5366
@alex-barstow Is this all with Video.js have you tried a plain video element?

[2018-08-10 20:40] alex-barstow commented on #5366
Sorry, should have been more specific. I was testing in Safari with just the video element.

[2018-08-10 20:41] gkatsev commented on #5366
Interesting, do you get the info later on like on a `playing` event?

[2018-08-10 20:46] alex-barstow commented on #5366
Yes, the dimensions are available on `'loadeddata'`

[2018-08-10 20:51] gkatsev commented on #5366
We could make the case that if there's no dimensions in `loadedmetadata` we can wait till `loadeddata`, but we probably should also open an issue against safari for this as well.

Also, is this with m3u8 or also mp4?

[2018-08-10 21:12] forbesjo commented on #5068
Moving this to VHS and labeling for our backlog

/move to @videojs/http-streaming

[2018-08-10 21:13] forbesjo commented on #5068
@gkatsev looks like you'll have to move it

[2018-08-10 21:18] alex-barstow commented on #5366
It's only an issue with HLS. I'll look into the feasibility of that workaround.

[2018-08-10 21:20] gkatsev commented on #5068
/move to videojs/http-streaming

[2018-08-10 21:20] #5068 closed

[2018-08-10 21:28] gkatsev commented on #5092
@axten want to submit a PR that adds the json files to the npm publish?

[2018-08-10 21:32] alex-barstow commented on #5366
Looks like it's a [known issue](https://bugs.webkit.org/show_bug.cgi?id=172223)

[2018-08-11 03:39] swaraasolutions commented on #5366
@alex-barstow @gkatsev thanks very much for all your help i have checked the known issue however the same functionality works on videojs 6 without issues. Also if it might help i am using google chrome version 68.0.3440.106.

I have reported a similar bug on videojs-contrib-hls but haven't received any response yet.

Thanks for all your help

[2018-08-11 03:58] julmot commented on #4534
Do not close

[2018-08-13 08:15] MyGithub-Ljc opened #5373 "Works fine under VLC player, not in video.js"
I have a rtmp video stream that plays normally under the VLC player but does not work properly under video.js. （I can provide this stream address if needed.）
    It does not work properly in version 6.10.3 and prompts an error message: The media could not be loaded, either because the ...rk failed or because the format is not supported.
    The videojs-resolution-switcher plugin is not supported i

[2018-08-13 08:45] #5373 closed

[2018-08-13 09:50] rahulcb06 opened #5374 "videojs Onerror event not firing"
we are using videojs (7.0.3) to stream and play HLS video (m3U8) file in HTML5 video. When the internet is disconnected and when it comes back we want to resume to play the video file from the point when the internet was disrupted. I guess this can be done through error event handler. However the error event is not raised when the internet is disconnected.

var myPlayer = videojs('media');
myPlaye

[2018-08-13 11:20] liuhaoliang opened #5375 "this.el_.vjs_getProperty is not a function"
Hi!This is an interesting [demo](https://github.com/liuhaoliang/videojsDemo/blob/master/%E7%9B%B4%E6%92%AD%E6%8B%96%E6%8B%BD.html).

I use the  latest html5 function dragable in my project which is combined with videojs, when drag the element,it doesn't work and says "this.el_.vjs_getProperty is not a function" in Chrome but it works well in Firefox.

The demo again https://github.com/liuhaoliang/

[2018-08-13 12:11] yokuze commented on #4765
@gkatsev thanks for removing the `wontfix` label and keeping this ticket up to date. I am still very interested in it.

[2018-08-13 15:28] gkatsev commented on #4765
Yeah, this is definitely something we want to address. We're working on trying to make addressing large issues like these more manageable and timely.

[2018-08-13 17:40] jthomerson commented on #4765
Thanks @gkatsev for updating this. We are definitely in need of a fix for this. We're upgrading to 7.x and are going to have to continue maintaining our own fork that incorporates (essentially) the changes from #4769 so that the usecase of setting source and playing from a single user event works on mobile devices.

Also, in the original issue I noted:

Here is an example to reinforce that: https:

[2018-08-13 17:55] #5044 closed

[2018-08-13 20:54] alex-barstow commented on #5366
I am not seeing any difference in behavior between your v6 and v7 test pages in Chrome 68. Can you describe in detail the differences you are seeing?

[2018-08-13 21:49] alex-barstow commented on #5375
Thank you. I can verify that I am seeing this error in Chrome but not Firefox. I'll check back in once I have had a chance to look into it.

[2018-08-14 03:28] bytes-stream opened #5379 "how to understand import window from 'global/window';"
I  am so sorry, what is "global/window"?    How to understand “ import window from 'global/window' ；”?

global.window is underfined  in brower;
global.window is underfined  in nodejs;

[2018-08-14 03:56] #5379 closed

[2018-08-14 06:39] vadimkantorov commented on #4833
The guide still uses the wrong URL. Should the Stale[bot] be corrected?

[2018-08-14 07:56] swaraasolutions commented on #5366
Hi Alex,

V6 works fine and the issue with the video is not there however in v7 we are seeing this issue I have tried it on multiple google chromes.

Thanks

Varun V.

From: Alex Barstow <notifications@github.com>
Sent: 14 August 2018 02:25
To: videojs/video.js <video.js@noreply.github.com>
Cc: swaraasolutions <info@swaraasolutions.com>; Author <author@noreply.github.com>
Subject: Re: [videojs/vid

[2018-08-14 12:23] avelon-gate opened #5380 "Hi!,I want removed the video player at video end"
## Description
Hi!,
I am looking for solution/fixed my issue.
I want to removed the video player at the video end & load my iframed vimeo video.

Same as this Demo:
http://www.moretvtime.com/vastplayer/update.html

My current work:
http://www.moretvtime.com/vastplayer/video.html
[code]

[2018-08-14 12:50] #4435 closed

[2018-08-14 13:59] spodlecki commented on #5338
@Bluebang The answer here is to write a plugin and trigger your own events that you'd be tracking. Here is a short example of how you'd accomplish (just the logic / proof of concept).

https://codepen.io/spodlecki/pen/ZjZjJK

I do something similar, because we do event tracking, and I don't want to count plays 100 times as our users seek through the videos. I have similar logic that does the same

[2018-08-15 05:47] majamee commented on #5246
Anyone having a solution for dash streaming when using VHS?

[2018-08-15 14:05] mcrayshill opened #5382 "Caption Button not appearing on Android devices"
## Description
Tested CEA-608 caption playback across Windows/Mac/iOS/Android and everything works well except Android devices.  I tried different versions of Chrome and FireFox within browerstack on different devices and I cannot get the caption button to appear with videojs 7.1.0.

[See this test page for playback](http://pages.suddenlink.net/wowzamac/videojs.html)

I have a file on loop as a li

[2018-08-15 21:04] alex-barstow commented on #5382
Your player is setup to use native HLS on Android and iOS. While Safari supports 608 captions with native HLS, Chrome on Android apparently does not, which is why you don't see the caption button. If you want your 608 captions to work on Android, you'll have to override native HLS:

[code]

Initializing the player this way should solve your problem.

[2018-08-15 21:33] alex-barstow commented on #5380
Could you describe in a bit more detail what you are trying to accomplish? Are you just trying to hide the player with CSS when it finishes, or remove it from the DOM entirely? If the latter, you could do something like this:

[code]

[2018-08-15 21:45] SVyatoslavG commented on #5349
I have the same bug.
Internet Explorer 11.0.56 (latest) doesnt play m3u8 live stream on Windows 7.

[2018-08-16 02:06] gkatsev commented on #5380
The key here is that you should use the Video.js API rather than interact with the video element directly because the same video element may not necessarily be present.
If you follow the example @alex-barstow provided rather than doing `videoEl.addEventListener` it should work.

[2018-08-16 06:51] bhartendukumar12 opened #5384 "Js plugins ane not working properly in prod build in angular"
I have imported videojs module in angular application (V4).The video is playing perfectly in 360 mode when i give a normal build.The moment I give prod build the video does not play in 360.

[2018-08-16 10:31] liuhaoliang commented on #5375
Thank you！The demo is to exchange the videojs widges between the two containers.It works well in Firefox but has error in Chrome.Hope your well done work!

[2018-08-16 15:37] swaraasolutions commented on #5366
@alex-barstow @gkatsev i have finally found the issue.
When i disable Hardware Acceleration and it started working perfectly. How can i ensure that the hardware acceleration does not affect other users.

[2018-08-17 07:39] Chocobozzz commented on #5252
I think this issue should not be closed. Downloading and parsing all vtt files is a waste of bandwidth, and could be a real issue for popular videos that have a lot of subtitles. An option when adding subtitles to video.js like `lazy` for example would be ideal (like @gkatsev said).

[2018-08-17 21:11] #4653 closed

[2018-08-17 21:11] #4696 closed

[2018-08-17 21:11] #4721 closed

[2018-08-17 21:11] #4728 closed

[2018-08-17 21:11] #4744 closed

[2018-08-17 21:11] #4733 closed

[2018-08-17 21:11] #4751 closed

[2018-08-17 21:11] #4782 closed

[2018-08-17 21:11] #4881 closed

[2018-08-17 21:11] #4905 closed

[2018-08-17 21:11] #5048 closed

[2018-08-17 21:11] #5116 closed

[2018-08-17 21:11] #5117 closed

[2018-08-17 21:11] #5133 closed

[2018-08-17 21:11] #5178 closed

[2018-08-18 09:07] hidnarola commented on #3473
### **Below code is working for me. please check screenshot also. I have added a custom button in the video.js player.**

var vjsButtonComponent = videojs.getComponent('Button');
            videojs.registerComponent('DownloadButton', videojs.extend(vjsButtonComponent, {
                constructor: function () {
                    vjsButtonComponent.apply(this, arguments);
                },

[2018-08-20 07:10] WaldenH opened #5387 "Is there any function like set buffer at a certain time?"
## Description
As currentTime(time) does not work when video is paused, I have to put the set time at the callback of Play().
Is there any function to set buffer at a certain time? I guess it can improve user experience.

[2018-08-20 07:26] slash197 opened #5388 "mpegdash playlist keeps downloading"
I have tried a few options to stop a live mpd stream and clear the player but none can stop the manifest file to download, it seems that even after reset/dispose or manually removing the html tag videojs keeps downloading the file over and over.

Anything I can do to stop this?

[2018-08-20 14:46] ramonvictorn opened #5389 "body zoom error"
## Description
Briefly describe the issue.
Include a [reduced test case](https://css-tricks.com/reduced-test-cases/), we have a [starter template](http://jsbin.com/axedog/edit?html,output) on JSBin you can use.

When I zoom out the player identifies that the mouse is in a different place from the right

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1.Zoo

[2018-08-20 15:47] alex-barstow commented on #5388
Can you please provide a reduced test case using [this template](http://jsbin.com/axedog/edit?html,output) so that we can better assist you?

[2018-08-20 15:59] alex-barstow commented on #5387
Are you just trying to seek? `player.currentTime(newTime)` should seek even while the player is paused. Can you create a test page from [this template ](http://jsbin.com/axedog/edit?html,output) that demonstrates the problem so that we can better understand the issue you are encountering?

[2018-08-20 16:11] alex-barstow commented on #5389
Can you please provide a reduced test case from [this template](http://jsbin.com/axedog/edit?html,output) and describe in more detail the problem you are seeing and how to reproduce it? For example, how exactly are you "zooming out" the page, what browser and operating system are you using, etc.

[2018-08-20 18:14] arshadkazmi42 commented on #4802
I can take this up. if its still available

[2018-08-20 20:03] BrandonOCasey commented on #4802
Yeah I think this is something we would still like an option for, if you want to take it on @arshadkazmi42 , go for it! 👍

[2018-08-21 09:24] AsuraZhu opened #5391 "How to capture RTMP using video"
How to capture RTMP using video

[2018-08-21 17:17] mister-ben commented on #5391
Are you trying to _play_ an RTMP source? If you could give some more information, like an example of what you've tried, it would be easier to help.

[2018-08-22 00:56] AsuraZhu commented on #5391
@mister-ben  I use video. Js to play RTMP, so I cannot use canvas capture. So I want to know whether video. Js can take screenshots

[2018-08-22 10:23] Surt opened #5392 "Documentation about css classes"
## Description
There is many css classes to control the video proportions, with height, etc but there is no documentation on them. Internet is full of questions about how to make them, but there is no official information anywhere.

Please someone with knowledge about this css classes ``` embed-responsive embed-responsive-4by3 vjs-fill vjs-fluid``` please create a documentation somwhere.

[2018-08-22 12:55] Akxe commented on #5391
I don't think so, video.js (usually) uses `videoElement` and to my knowledge, it does not have a method for capturing current frame.

[2018-08-22 12:56] Akxe commented on #5389
I would close it, it can be re-created, once it has all properties filled

[2018-08-22 12:58] Akxe commented on #5387
Not that I know of, but! You could use an other video and seek it so that the part of video is cached.

[2018-08-22 13:00] Akxe commented on #5384
You gave 0 information, try to fill the issue template. Also, this isn't problem of video.js, but of Angular's webpack, so ask there.

[2018-08-22 15:35] MrWiLofDoom commented on #4478
Is this fixed in 7? I am running 7 and I'm still not seeing the mute button

[2018-08-22 20:08] #5382 closed

[2018-08-22 20:08] gesinger commented on #5382
Please let us know if @alex-barstow 's suggestion doesn't work for you, and thanks!

[2018-08-22 21:32] mister-ben commented on #5391
RTMP can only be played in Flash, and it's not possible to capture that as you would with an html5 canvas. Saving a frame would have to be done within the swf, but Video.js's swf does not support this.

[2018-08-22 21:54] japo32 opened #5394 "404 on website link"
The GET STARTED link on your website leads to a 404.

https://github.com/videojs/video.js/blob/stable/docs/guides/setup.md

Apologies if this is the wrong avenue for submitting this bug.

[2018-08-23 01:55] bcdarius commented on #4478
The mute toggle button is displayed on iOS in v7.1.0+. Is that the version you're testing on? I'm seeing the mute toggle button fine here https://output.jsbin.com/sovubus. Another thing to note is that the mute control will be visible in iOS versions that supports muting volume programmatically only, ie iOS 10+.

[2018-08-23 06:04] goforwork commented on #5349
the same bug on IE

[2018-08-23 06:15] goforwork opened #5395 "can't play m3u8 on IE 11"
error:
![image](https://user-images.githubusercontent.com/28641986/44507823-92c2f180-a6de-11e8-84aa-fcafb496d778.png)

example:(notice: these code from examples.i just change the video source)
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Video.js | HTML5 Video Player</title>
    <link href="http://vjs.zencdn.net/7.0/video-js.min.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/

[2018-08-23 07:10] mister-ben commented on #5395
Is it IE11 on Windows 7? If so, that browser lacks Media Source Extensions so Flash is unfortunately needed for HLS playback.

You can use videojs-flash and videojs-flashls-source-handler for HLS support via Flash on IE11/Win7. See https://github.com/brightcove/videojs-flashls-source-handler/blob/master/README.md

[2018-08-23 07:58] Akxe commented on #5391
You basically you can, but it would mean that you need to tweak the flash library and add screenshot functionality, quite a bit harder, than you might like, but doable.

[2018-08-23 09:17] goforwork commented on #5395
@mister-ben thank you very much. the method you provide solved the problem perfectly!

[2018-08-23 09:17] #5395 closed

[2018-08-23 17:33] mister-ben commented on #5392
You're right, this could be better documented. Here for now:

* `.vjs-fill` Width 100% and height 100% of parent
* `.vjs-fluid` Width 100%, height determined by aspect ratio of the video once known. Defaults to 16:9
* `.vjs-16-9` Width 100% and 16:9 aspect ratio
* `.vjs-4-3` Width 100% and 4:3 aspect ratio

`embed-responsive`, `embed-responsive-4by3` etc belong to Bootstrap, and can be used if you

[2018-08-23 17:49] alex-barstow commented on #5394
That link is out of date. You can find the current "Getting Started" guide [here](https://docs.videojs.com/#getting-started). May I ask where on our website you found that link?

[2018-08-23 17:54] alex-barstow commented on #5392
This [blog post](https://blog.videojs.com/video-js-5-s-fluid-mode-and-playlist-picker/) also gives a quick walkthrough of `vjs-fluid`, `vjs-16-9`, and `vjs-4-3`

[2018-08-23 20:48] masudhossain opened #5396 "console.log when seekbar is clicked"
Is there a way to console.log the time whenever a user clicks on the seekbar http://prntscr.com/km6qsc ?

it works with the function below, but ONLY if the video is already playing.

[code]

[2018-08-23 21:31] japo32 commented on #5394
Right there in the main menu
http://www2.videojs.com/

[2018-08-23 21:41] gkatsev commented on #5394
That's an incredibly old version of the website. Our main website is https://videojs.com/.
Can I ask how you got to the www2 version of the site? Kind of still surprised it's still live, actually.

[2018-08-23 21:46] japo32 commented on #5394
Haha, yeah I thought as much when I found the newer website.

It was the third hit when I googled 'js video player with playlist'. :)

[2018-08-23 21:52] gkatsev commented on #5394
Heh, I just tried the same search and definitely not getting it but my data is probably tainted by videojs and video related stuff already.

Unfortunately, I don't think I have a good answer for a fix for this other than maybe turning it off and directing you to the latest page https://videojs.com/getting-started/

Thanks and sorry 🙂

[2018-08-23 21:52] #5394 closed

[2018-08-23 22:32] japo32 commented on #5394
No worries guys. maybe a redirect from the www2 website to the newer one? 👍  Cheers

[2018-08-23 23:11] bcdarius commented on #5396
You could try something along these lines:
[code]
See live example here https://output.jsbin.com/belateb

[2018-08-24 00:03] ZHAJOR opened #5397 "Issues with loadeddata and loadedmetadata events on Fire Strick web app"
## Description
Hi,
I'm developing a fireTV web app using videojs.
I was trying on Chrome/Firefox and the application was playing fine.
Then I tried on fireTV web app tester (a bit late), and I have one big issue: when the events loadeddata or loadedmetadata are triggered, I try to get the player.duration() and player.current_time() and they are both "undefined".
I also try to wait 1,3 and 5 second

[2018-08-24 04:01] masudhossain commented on #5396
^this worked! Closing this.

[2018-08-24 04:01] #5396 closed

[2018-08-24 09:40] goforwork opened #5398 "don't autoplay sometimes in Chrome."
problem : don't autoplay sometimes in Chrome.

console : Uncaught (in promise) DOMException: play() failed because the user didn't interact with the document first. https://goo.gl/xX8pDD

[2018-08-24 10:59] Surt commented on #5392
Thanks a lot!

[2018-08-24 11:40] mister-ben commented on #5398
[Chrome changed its autoplay policies a few months ago](https://developers.google.com/web/updates/2017/09/autoplay-policy-changes). We've a good writeup here, but in short autoplay won't always work on all browsers: https://blog.videojs.com/autoplay-best-practices-with-video-js/

Often a video can autoplay if muted. We've recently added an option to Video.js to try to play the video with sound, an

[2018-08-24 12:55] apurvgandhwani commented on #4526
Was this solved? @gkatsev Please let us know. Because we are still not able to implement it.

[2018-08-24 14:58] BrandonOCasey commented on #4526
I think this was solved by: https://github.com/videojs/video.js/pull/4591 which has been in every version since `6.5.0`. The progress bar is updated at `60fps`.

[2018-08-24 16:17] alex-barstow commented on #5397
Fire TV is not an officially supported platform for Video.js, so unfortunately we cannot guarantee it will work as expected there. Amazon does say Fire TV supports HTML5 web apps, but it's possible they aren't spec-compliant with regard to the `<video>` element.

As a side note, when you say `player.duration()` and `player.currentTime()` are undefined, do you mean they are actually returning `unde

[2018-08-24 16:36] apurvgandhwani commented on #4526
Still it is jumpy.

On Fri, Aug 24, 2018 at 8:29 PM Brandon Casey <notifications@github.com>
wrote:

[2018-08-24 18:13] #5196 closed

[2018-08-24 19:13] #3526 closed

[2018-08-24 20:13] #4946 closed

[2018-08-24 21:32] ZHAJOR commented on #5397
I saw that, and I can also add that it's impossible to play a DRM video with a web app on FireTV.

My bad, you are right NaN and 0.
I will change of player. I just wanted to know if you had any idea of what was happening.
If I play/stop quickly then the value of duration() and currentTime() are initialized.

You can close this issue.

[2018-08-24 23:25] gkatsev commented on #5397
If the FireTV browser gives us bad info, there isn't much we can do about it. Are you trying to play back DRMed video? That's another wrench in the system.

[2018-08-24 23:28] gkatsev commented on #4526
Jumpy how? Can you provide a gif or video of how it looks and a reduced test case? How does it look to you videojs.com? Would be good if you could fill out our [issue template](https://github.com/videojs/video.js/blob/master/.github/ISSUE_TEMPLATE.md).

[2018-08-25 00:13] #5126 closed

[2018-08-25 00:13] #5215 closed

[2018-08-25 00:13] #5229 closed

[2018-08-25 00:47] ZHAJOR commented on #5397
No just non-drm videos.

I just wanted to tell that it's impossible to play drm videos right now on FireTV using a web app. It's not supported by the platform. Only native apps can do that.

[2018-08-25 02:55] vhmth commented on #4526
@BrandonOCasey the progress bar updates at ~ `33 fps` (just to clarify).

@apurvgandhwani what version of video.js are you using?

[2018-08-25 05:13] #5260 closed

[2018-08-25 09:45] apurvgandhwani commented on #4526
Yes I want it to update at every frame. That is how I can make it's
movement smooth even on 5 sec video. Even on 33 fps, it will look jumpy.

On Sat, Aug 25, 2018, 8:26 AM Vinay <notifications@github.com> wrote:

[2018-08-26 03:35] WaldenH opened #5401 "window.videojs is undefined in React component"
## Description
To decrease the bundle size, I use cdn to include videojs.
But in react component, the window.videojs is undefined, window does not contain videojs.
In chrome dev-tool connection, video.js file is loaded.
Does I use something wrong?

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. use videojs example case
2. in react component, call windo

[2018-08-26 08:00] WaldenH commented on #5387
Issue fixed, my coding error.

[2018-08-26 08:00] #5387 closed

[2018-08-27 16:03] yokuze opened #5402 ""Big play button" component not visible in Windows Mobile 8.1 IE 11"
## Description
In Windows **Mobile** 8.1 IE 11, the "big play button" component is not visible.

## Steps to reproduce
1. Navigate to this page on a phone with Windows Mobile 8.1, in IE 11: https://videojs.com/
2. Observe that there is no "big play button" visible where it normally appears in the upper-left corner.

## Results
### Expected
I expect the "big play button" to be visible.

### Actual

[2018-08-28 10:21] Akxe opened #5403 "Pause/play video on tap, if control bar is visible"
## Description
This problem was discuses here quite a few times. Youtube dedicated a lot of time to find the best way to do it, what they ended up doing is different between app and web.

### App
Only show/hides controls

### Web
Tap will show controls if they are hidden, if the tap will toggle play state.

## Motivation
### Web youtube
Mobile web youtube has this feature as described above.

###

[2018-08-28 12:04] Akxe opened #5404 "Subtitles menu should close in more cases automatically"
## Description
The whole issue is only apparent if menu was opened via clicking/taping the icon as such it will not close on mouseleave.
The subtitles menu should close on multiple occasion. As of now, they only get closed on an other click on the menu icon or any of it's children. I would suggest that all of these are implemented:

- [x] Click/tap on icon that opened the menu.
- [x] Click/tap on

[2018-08-28 17:03] forbesjo commented on #5289
Added `confirmed` so stalebot doesn't close this. @gkatsev should stalebot ignore `bug` issues?

[2018-08-28 19:29] mister-ben commented on #5403
I don't see that behaviour on mobile web on You Tube. On Android Chrome and iOS Safari they use the native HTML video controls, both of which toggle controls but not playback. The difference on Android Chrome is a big play button is shown when paused, and if you click on (or near) that, then it pauses or plays because of the button press. Maybe what you want is just to also show the big play butto

[2018-08-29 09:40] Snowbell92 commented on #5403
this is my solution for this exact same problem.

      player.on('touchstart', function (e) {
            if (e.target.nodeName === 'VIDEO') {
                if (player.paused()) {
                    this.play();
                } else {
                    this.pause();
                }
            }
        });

If I don't check that `target` is the video element, the controlbar's play/pause

[2018-08-29 11:03] mhdSid commented on #1913
@altayaydemir I would like to ask how were you able to play videos on PS4? what was the mime type that you used? m3u8 or mpd?
Could you please guide me through this because I'm not able to play m3u8 nor mpd on PS4.
Video.js throws invalid source type

[2018-08-29 11:13] altayaydemir commented on #1913
@mhdSid they were mp4 files. I think the struggle occurs while trying to parse subtitle files for long videos, especially if they have malformed timestamps. I tried to calm it down by loading one subtitle at a time instead of many but it didn't help as much as I expected. in order to resolve this, we detect PS4 by looking the user agent and load jwplayer (with flash as the primary choice) in that

[2018-08-29 11:30] Akxe commented on #5403
@mister-ben I just re-tested iOS (iPad) and by tapping any place on screen the video toggles play state if control bar is shown. Kinda like desktop, but with the first tap to show controls.

[2018-08-29 13:39] misteroneill commented on #5401
Is `window.videojs` available in the browser console?

[2018-08-29 13:41] misteroneill commented on #5389
@Akxe We typically don't close issues just because they're missing something to reproduce them. We have automation that will close the issue for us if it becomes stale.

[2018-08-29 13:44] misteroneill commented on #5398
As @mister-ben indicated, there isn't anything to be done here.

[2018-08-29 13:44] #5398 closed

[2018-08-29 13:49] misteroneill commented on #5391
That's true, one could probably fork and customize [the Video.js SWF](https://github.com/videojs/video-js-swf) to achieve this, but to the point of the original question, the Video.js SWF does not support this and the Video.js organization is not actively maintaining our Flash implementations.

[2018-08-29 13:49] #5391 closed

[2018-08-29 13:53] misteroneill commented on #5384
There could be an issue with the way Video.js' modules are consumed by Angular, but without more information and a reduced test case, we cannot guess what the issue might be.

[2018-09-01 23:31] Akxe commented on #5384
Also to be honest, having videojs alongside with angular is kinda bad, as a lot of code in videojs is duplicated by therefor increasing your time till interactive.

[2018-09-02 14:07] Yijx opened #5408 "Failed to execute 'appendBuffer' on 'SourceBuffer': The SourceBuffer is full, and cannot free space to append additional buffers."
## Description
When I play a very big m3u8 4K Video, it can play a few seconds and videojs tell me
 **'Failed to execute 'appendBuffer' on 'SourceBuffer': The SourceBuffer is full, and cannot free space to append additional buffers.'.**
It maybe a piece of ts is bigger than cache.I search this queation in videojs/videojs-contrib-hls,I know official is solving this queation but I am so anxious.Can

[2018-09-04 16:34] donlaur commented on #4777
Is there any update on this or other people using React Native and VideoJS?

[2018-09-04 17:39] misteroneill commented on #5366
@donlaur Hardware acceleration in Chrome can be disabled via a toggle in Settings - "Use hardware acceleration when available".

[2018-09-04 17:55] misteroneill commented on #4777
Video.js depends on the DOM and is not well-suited to use in a mobile application. It _should_ work in a WebView, but that's about it. There are no plans in the near-term to make Video.js work anywhere but the web.

[2018-09-04 19:09] gkatsev commented on #5408
We're currently working on 4K support in this PR https://github.com/videojs/videojs-contrib-hls/pull/1416. However, it's quite complicated and may take some time still to get merged in.

[2018-09-04 19:09] #5408 closed

[2018-09-04 19:10] gkatsev commented on #5408
Please follow that PR for updates on the status of this issue.

[2018-09-04 19:27] donlaur commented on #5366
Yes, thank you.  I disabled Hardware acceleration in chrome.  That fixed the issue for my computer but isn't a great overall solution.  You can't use code or settings to turn off that setting, is there a way to suggest a certain ratio?  Use classes or some way to fix?  Do we know what calculation is being done in the hardware accelerator?

[2018-09-04 22:00] riking commented on #2675
There are still pages in the wild hitting this bug, as per webcompat/web-bugs#2498 , such as mentioned in [this comment](https://github.com/webcompat/web-bugs/issues/2498#issuecomment-418402878). Would you consider releasing a hot-fix for the old versions on your CDN or working with the affected sites to update the library?

[2018-09-05 13:22] coddok opened #5410 "Hide Time Tooltip (need help)"
There are any chance to hide time-tooltip but keep mouse-display only through css?
Like  [this](https://i.imgur.com/rpyZBfG.png)
I got this effect by manually deleting <div class="vjs-time-tooltip"...> under <div class="vjs-play-progress vjs-slider-bar"...>. Of cource, it's appears again after page is reloaded.

[2018-09-05 13:27] coddok commented on #5410
Forget to say. Video.js 7.1.0

[2018-09-05 15:00] alex-barstow commented on #5410
The easiest way to hide it is via options when you initialize the player:

[code]

See a working example [here](http://jsbin.com/deliziyami/1/edit?html,output). Doing it this way will also make sure that component remains hidden between page loads.

[2018-09-05 15:01] alecsgone opened #5411 "keep consistent video ID regardless the method executed"
## Description
The ID of the video instance changes after `reset()`, is a small change but it should be consistent.
https://jsbin.com/fisoyabuve/edit?html,console,output

## Steps to reproduce
1. Go to the js bin from the description
2. Open the console
3. hit play and wait for 5s

## Results
### Expected
if not the inial class of the video tag a consistent all lowercase id

### Actual
it Capitali

[2018-09-05 15:05] alecsgone commented on #5411
I narrowed down to https://github.com/videojs/video.js/blob/master/src/js/player.js#L948 and I'll be happy to create a PR I just need confirmation to: changing this line is the way to go?

[2018-09-05 15:19] alex-barstow commented on #5410
You can hide it by adding the following CSS after the default video.js styles have loaded:

[code]

Hope this helps!

[2018-09-05 15:27] alecsgone commented on #5410
Minor tweak for v7 to hide `<div class="vjs-time-tooltip"...>` only with css is
[code]

[2018-09-05 15:50] alex-barstow commented on #5411
Hm, I believe they should be the same, although @gkatsev will need to chime in on this one. If they are supposed to match, the fix will depend on whether it should be uppercase or lowercase. If it should be lowercase, the fix will be changing `titleTechName` to `camelTechName ` in the line you linked above. If it should be uppercase, the fix will be updating the string here: https://github.com/vid

[2018-09-05 16:56] iq-dot opened #5412 "iOS Touch Event Issue"
## Description
I have an issue that is driving me nuts and would appreciate the help.

We use videoJS 5 and have integrated SpotX (for ad serving), when an ad plays, there is an iframe that sort of overlays and handles click/touch events so that it takes you to the advertisers page.

On my test page, this behaviour works on Desktop (Chrome and Safari) and Android mobile but not on iOS.

I don't kn

[2018-09-05 20:29] misteroneill commented on #5411
Looks like line 623 is older, so it should be considered correct - so, lower-case. Really, I think line 948 should be using `${camelTechName}` as @alex-barstow said and 623 should be using `${camelTechName}_api`.

Ideally, these would be unified into a single function - maybe a static method on the `Tech` class - so we don't encounter this sort of issue again.

@alecsgone A PR would be very welcom

[2018-09-05 21:01] gkatsev commented on #5412
What version of iOS are you testing with? Also, would you be able to try with a newer version of Video.js?
I think Video.js 5, I believe, used the native controls on iOS, particularly iphones and older versions of iOS (and maybe newer ones still do?) disallowed elements from receiving clicks when overlayed on top of the video element when native controls were used.
I think there's an option `nativ

[2018-09-05 21:03] gkatsev commented on #5410
a simple css would just be
[code]

I think there may be an option to turn it off but I'm not sure, let me check.

[2018-09-05 21:09] gkatsev commented on #5410
Oh, I misread the specific want.
The simplest CSS would just be
[code]

It's fine to use `!important` here because you're overriding a style, plus, it makes sure that if the selector that Video.js uses changes for whatever reason, the tooltip stays hidden.

[2018-09-05 21:09] iq-dot commented on #5412
Thanks for your quick response, I am testing on iOS version 10 to 11.3, all have the problem.

What I will try however is the nativeControlsForTouch option and see if that helps.

Upgrading videoJS is definitely something I want to do but may not be quick to do right now, if the nativeControls option fails me then I will see if I can quickly hack something up with a newer version of videoJS to see

[2018-09-05 21:10] #5388 closed

[2018-09-05 21:10] #5323 closed

[2018-09-05 21:11] #5275 closed

[2018-09-05 21:16] gkatsev commented on #5411
Yeah, it should be `camelTechName`. Technically, we already potentially broke people when we made that change to line 948. Given that this is internal, I'm ok with making that change and if it breaks anyone, we can revert and patch.
I'm not sure that a helper method would've helped here given that we have two separate usages for tech names.

[2018-09-06 06:34] coddok commented on #5410
Thanks to all for your suggestions
A really works tweak suggested by alecsgone:
.video-js .vjs-progress-control:hover .vjs-play-progress .vjs-time-tooltip { display: none;}

[2018-09-06 06:34] #5410 closed

[2018-09-06 16:41] gkatsev commented on #5412
It's actually not autoplaying for me in chrome but does work after I click play.
Unfortunately, I don't have an iOS device handy on me but can probably take a look next week.

[2018-09-06 18:49] gkatsev commented on #5397
We have seen an issue with Safari where HLS videos don't actually get metadata in `loadedmetadata` but only in `loadeddata` and later. This could potentially be something similar where the implementation isn't strict to the spec and thus you end up missing info for a bit.
Unfortunately, I'm not sure what to do, this is probably a native problem and probably needs to be fixed on the FireTV side.

[2018-09-06 18:49] #5397 closed

[2018-09-06 19:04] gkatsev commented on #5403
For me, youtube on mobile just uses the native controls. As for our controls, we modeled our behavior after iOS behavior which toggles the controls during playback and disables toggling playback on the touch area. This behavior also matches how the youtube app (at least on Android) works.
To me, pausing the video whenever you touch it if the controls are hidden feels like it'll be frustrating when

[2018-09-06 19:18] Akxe commented on #5403
Indeed YouTube web app changed last week...

---------- Původní zpráva ----------
Od: Gary Katsevman
Datum: 6. 9. 2018 v 21:08:56
Předmět: Re: [videojs/video.js] Pause/play video on tap, if control bar is
visible (#5403)

For me, youtube on mobile just uses the native controls. As for our
controls, we modeled our behavior after iOS behavior which toggles the
controls during playback and disables t

[2018-09-06 19:20] gkatsev commented on #5404
Actually, mouseleave does currently close it, but I believe that's actually a bug and not the intended behavior.
Tap/click on the video makes sense. Probably should work when clicking anywhere else if it blurs the menu. This also matches the behavior on youtube.
The fact that the control bar is still clickable during user-inactive is a bug that should be fixed (https://github.com/videojs/video.js/

[2018-09-06 19:34] Akxe commented on #5404
Yeah, tap on video & disable hiding control bar, when any menu is opened seem like a neat solution. But would live with closing on inactivity too, as if user don't do anything, he probably doesn't care...

[2018-09-06 20:26] ssaguiar commented on #3725
Hls.js has serious memory leak.
I was trying to use it in my project, wich is a mosaic with 20 live streams videos (for monitoring) and it increases the memory at the point of crashing the browser 9my computer has 32G of ram memory).
After switching to videojs, I get, maximum, 1.2 to 1.4 G, but stays in 1.1 to 1.2 G most of the time.
The only problem is that when the source video stops and restart

[2018-09-06 21:05] gkatsev commented on #5384
We've had issues with minifcation previously due to typeofs and uglify 2, which could be the issue since that's a thing in prod builds but yeah, without more info, we can't do more.
@Akxe what do you mean that videojs along side angular is bad?

[2018-09-06 21:17] Akxe commented on #5384
First of all you lose a lot of type safety when using videos, as the library wasn’t build with that in mind, but ok... it ain’t bad that since official `.d.ts` file.
My point was, that when you want to use videojs you’ll pay cost, the library is quite big. A lot is somewhat duplicate with what angular has, therefor if there would be some angular version of video library, you wouldn’t have to pay t

[2018-09-06 21:17] gkatsev commented on #5360
So, I think that something like usePlugin is probably useful and helps TS but I'd be wary of adding things just for TS support. For example, I see little benefit to having an `.access` method on Video.js beyond easier typing in TS.

Also, I don't think that `usePlugin`, or whatever we want to call the method should allow you to register the plugin and then enable it. APIs that are overloaded like

[2018-09-06 21:27] Akxe commented on #5360
But what we have agreed upon? :D I am confused... also, why is that register plugin returns something that when called with `.apply(player, options)` will enable the plugin but not register it as used. (`player.usingPlugin(‘name’) == false`)

[2018-09-06 21:32] rof20004 commented on #3725
@ssaguiar

"wich is a mosaic with 20 live streams videos (for monitoring) and it increases the memory at the point of crashing the browser (my computer has 32G of ram memory)"

Maybe you need to change you goals with hls.js, see 20 live streams in same time in only one cpu is not usual.

[2018-09-06 21:33] gkatsev commented on #5360
I'm not quite sure I understand your question.

As for what to start working on, a method, that for now we'll call `usePlugin`. We can always change the new later up until release. `usePlugin` is basically equivalent to calling `player.myPlugin(...)` manually.

[2018-09-06 21:34] gkatsev commented on #5384
Yeah, Video.js isn't small but it provides a lot of functionality that you want in a video player. Also, I'm not sure that there's *that* much shared code that's redundant. The main biggest parts of the code are HLS/DASH support, text track support, and controls, probably in that order.
Also, I'm not sold that type safety is that important here, since Video.js is fairly self contained :)
Thanks fo

[2018-09-06 21:39] Akxe commented on #5360
I’ll get to it right tomorrow. Thanks! :)

[2018-09-06 21:41] Akxe commented on #5360
For the question I’ll make an playground or something tomorrow to demonstrate it.

[2018-09-06 21:44] gkatsev commented on #5360
That would be helpful!

[2018-09-06 22:02] gkatsev commented on #5252
Yeah, this issue should be pinned.

[2018-09-06 22:06] #5330 closed

[2018-09-07 00:13] gkatsev commented on #5349
IE11 is quite different than Edge :)

I would suggest making sure that only one Video.js script gets loaded on the page rather than once per player. I also get an error on the page when loading your example via browserstack in IE11 on win 7.
I was able to create an example locally with multiple players with Flash that runs on browserstack on Ie11 on win7.

[2018-09-07 10:36] iq-dot commented on #5412
If you do take a look next week, can you please use this url now:

https://build.suggestv.io/test/iqbal.html

The previous URL has now changed.

Thanks

[2018-09-07 15:55] #5411 closed

[2018-09-07 16:18] ssaguiar commented on #3725
@rof20004
Nope, my friend.
Just to make an observation: I am encoding the 20 streams using ffmpeg and an vidia 1050 video board, in h265.
When I do so, I generate 2 streams for each input: one for productio stream (wich is hd and has all audio channel, subtitles and so), and one small stream wich has no audios and no subtitles and one video with a size of 320x180 and 300Kbits max. With this, to mo

[2018-09-07 20:13] #5264 closed

[2018-09-07 20:13] #5266 closed

[2018-09-07 20:13] #5277 closed

[2018-09-08 12:38] #4539 closed

[2018-09-08 17:37] #2858 closed

[2018-09-08 19:37] #5267 closed

[2018-09-08 19:37] #5243 closed

[2018-09-08 19:37] #5244 closed

[2018-09-08 22:44] michelson commented on #5092
👍

[2018-09-09 03:23] CorruptMonkey opened #5422 "Video does not display if <source> tag added via javascript after page has loaded"
## Description
The video does not display if <source> tag is added via javascript after the page has been loaded.
https://lasershark.army/aeon/notice/2377854

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. Embed player without any <source> tag
2. Add <source> tag via javascript

## Results
### Expected
The video should be loaded into the player and pla

[2018-09-09 09:47] CorruptMonkey commented on #5422
Fixed it on my end by loading the whole video element into the div.

[2018-09-09 09:47] #5422 closed

[2018-09-10 02:06] CorruptMonkey opened #5423 "videojs() does not work on same <video> id twice when destroying and recreating the player"
## Description
videojs() does not work on same <video> id twice when destroying and recreating the player

An example of where this isn't working is here: https://lasershark.army/aeon/notice/2377854#post-2377854

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. Create media player with jquery html() function on element.
2. Run videojs() on the new elemen

[2018-09-10 06:25] victoryboss opened #5424 "How to get video metadata infomation?"
## Description
I want to get video metadata infomation like audiocodecid、fps、displayHeight,etc.
but I can not find any APIs in the website (https://docs.videojs.com ).
Can you help me ？
Best wishes to all of  contributors

### Expected
Give some APIs to get video infomation like：
audiodatarate:128,
audiosamplerate:44100,
videodatarate:1200,
audiocodecid:10,
videocodecid:7
LiveServer:"CloudLeopard/

[2018-09-10 07:48] mister-ben commented on #5423
Make sure to dispose of the player with `dispose()` rather than just removing the player element from the DOM.

[2018-09-10 10:32] ENGLISH-LIGHT opened #5425 "the entry for native video? I want to know how to prevent vjs request files only using vjs for stylesheet of playback"
## Description
Briefly describe the issue.
Include a [reduced test case](https://css-tricks.com/reduced-test-cases/), we have a [starter template](http://jsbin.com/axedog/edit?html,output) on JSBin you can use.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1.
2.
3.

## Results
### Expected
Please describe what you expected to see.

### Actual
Please des

[2018-09-10 10:57] sgrogov commented on #5308
Hello,

I've got the same problem.
Here is reduced test case https://github.com/sgrogov/bug-cases/tree/master/videojs/mode-hidden-cuechange.

My code is pretty similar to yours
[code]
but `cuechange` callback is never fired.

I tried your code but it threw an error because the `track` variable is `undefined`.

[2018-09-10 14:32] misteroneill commented on #5425
I'm not sure I understand what you're trying to say. Can you provide an example or reduced test case, following the issue template?

[2018-09-10 18:42] CorruptMonkey commented on #5423
`ReferenceError: dispose is not defined`.

[2018-09-10 18:44] gkatsev commented on #5423
Can't get to the example but `dispose()` is a method on the player.
So, you want to do something like:
[code]
Before removing things from the DOM and creating the player.

[2018-09-10 19:11] CorruptMonkey commented on #5423
That works. Thanks :)

[2018-09-10 19:11] #5423 closed

[2018-09-10 19:13] gkatsev commented on #5423
You're welcome!

[2018-09-11 01:41] kbinliu commented on #5366
@misteroneill We have the same problem and hope to solve it as soon, thank you

[2018-09-11 13:33] Pawes opened #5430 "deregisterPlugin function not exposed?"
## Description
I can't seem to deregister a plugin, and I can't find any documentation on it.
I thought it was supposed to be exposed from the videojs object as the registerPlugin() function is.
But when I try to call videojs.deregisterPlugin() I am told that it is not a function.
Maybe it is a misunderstanding on my part, but either way it would be nice to have it documented maybe in here : https

[2018-09-11 13:49] Pawes commented on #5430
Btw, the version of videojs reflects what is used on videojs's advanced page I use 7.1.0 and get the same result.

[2018-09-11 13:57] gkatsev commented on #5430
It was exposed in Video.js 7.2 and 6.12.

[2018-09-11 14:32] gkatsev commented on #5430
Apparently, 7.2 was never promoted to latest. Probably time to do that.

[2018-09-11 17:20] Nuttibat opened #5431 "help me ‼ player can't show on safari"
help me ‼ player can't show on safari
on Android Player show
:: test on iphone X

linktest : https://animelucky.com/view/17325/

thankyou

![40391271_332574967487967_3453314080062832640_n](https://user-images.githubusercontent.com/13788600/45376185-620d1280-b621-11e8-9e85-4cff08638f63.jpg)
![40463948_863952413810623_1312208273813798912_n 1](https://user-images.githubusercontent.com/13788600/453761

[2018-09-11 18:37] alex-barstow commented on #5431
I just tested on an iPhone X running iOS 11.4.1 and I am not seeing a problem. The player is visible and content plays correctly. Can you please share any other information you have that might help us reproduce this issue? (ex. iOS version, errors you are seeing in the console, etc.)

[2018-09-11 18:45] gkatsev commented on #5430
Just promoted 7.2.2 to latest.

[2018-09-11 18:47] gkatsev commented on #5430
Also, looks like the Video.js url that the advanced page uses hasn't been updated in a while.

[2018-09-11 20:47] gkatsev commented on #5430
I just updated the website to load the latest version of Video.js it can from unpkg.com. It currently still thinks that it's 7.1.0, but it should hopefully get updated to 7.2.2 soon.

Hope the above helped.

[2018-09-11 20:47] #5430 closed

[2018-09-12 01:51] liuhaoliang opened #5432 "errors when using webpack"
When using npm build the react source, then run the dist code,console "Uncaught ReferenceError: t is not defined"

version: 7.1.0
environment:react
buid :webpack

<img width="817" alt="2018-09-12 9 51 52" src="https://user-images.githubusercontent.com/16020037/45397198-8690db00-b671-11e8-8e6e-ba1a48f64d7e.png">

[2018-09-12 02:15] liuhaoliang commented on #5432
fixed the issue in 7.2.2

[2018-09-12 02:15] #5432 closed

[2018-09-12 06:28] Pawes commented on #5430
Thanks a lot, everything works now!

[2018-09-12 07:51] mister-ben commented on #5431
The link given isn't the same domain as visible in the screenshots. Is that a representative test?

[2018-09-12 07:53] coddok opened #5433 "How to remove (hide or replace) the control text 'Close Modal Dialog'?"
Video.js 7.1.0

How to remove (hide or replace) the control text 'Close Modal Dialog'?
E.g. for nothing to be displayed when mouse is over the close button in modal window.

[2018-09-12 11:56] Nuttibat commented on #5431
yes brother

[2018-09-12 11:57] Nuttibat commented on #5431
thank you brother
i will try Works with many phone

[2018-09-12 13:55] subarudad opened #5434 "Hide/remove share icon button"
## Description
Is there a way to hide or remove the share icon?

[2018-09-12 14:37] gkatsev commented on #5434
Video.js doesn't have a share icon by default. I would look for a plugin that's adding it in.

[2018-09-12 14:37] #5434 closed

[2018-09-12 14:43] gkatsev commented on #5430
You're welcome!

[2018-09-12 14:47] gkatsev commented on #5432
Has to do with some `typeof` rules that get mangled in uglify2, which we finally got around.

[2018-09-12 16:46] misteroneill commented on #5433
The title text exists as an accessibility measure, especially for non-sighted users. We strongly advise against removing it and will not be making any such changes to Video.js.

If you insist on making your video player harder to use for the disabled, you can achieve the effect you're looking for via DOM method(s) like `removeAttribute` and by hooking into the various modal dialog events that Vide

[2018-09-12 16:46] #5433 closed

[2018-09-12 19:00] webcast33 opened #5435 "Looking for more extensive HLS error reporting"
I am attempting to playback live streams with video.js 7 and the built-in VHS plugin. All works fine, but when the stream ends, the "ended" player event doesn't fire. Eventually, 404 errors start to show on the console because the manifest is deleted, but nothing propagates to the player and the "error" event.

Is there some way to get greater granularity of what is happening in the hls engine? Th

[2018-09-12 20:06] forbesjo commented on #5435
Your stream may not be appending an endlist tag when the stream ends, do you know if this tag is showing up when you end your live stream? If the tag does appear then perhaps this is related to https://github.com/videojs/videojs-contrib-hls/pull/1425

[2018-09-12 20:32] webcast33 commented on #5435
Thank you for your comment. Indeed, the "Problem encountered with the current HLS playlist. Trying again since it is the final playlist." message does appear on the console along with 404/504 errors after the manifest is deleted. It doesn't appear that our stream has an "endlist" tag, but that is a function of our encoders and CDN and is, I believe, out of our control.

With HLS streaming, there i

[2018-09-12 22:24] Everlag opened #5436 "7.2.0 to 7.2.2 playback does not restart after ended"
## Description
Video fails to play after its reaches the end. This also breaks looping.

Repro(Note the version pulled in from cdnjs):
http://jsbin.com/repipayogu/1/edit?html,output

## Steps to reproduce
1. Let video end(seeking to near end is fine); play button should change to replay
1. Press play

## Results
### Expected
Video plays again

### Actual
Video fails to play; loading spinner spins

[2018-09-12 23:39] bcdarius commented on #5436
This [issue](https://github.com/videojs/http-streaming/pull/204) was fixed in @videojs/http-streaming v1.2.5  (v7.2.2 is still on v1.2.4). VHS version containing a fix, I believe, will be upgraded in the upcoming VideoJS release.

[2018-09-13 08:00] xenuz111 opened #5437 "Fullscreen mode leads to blank screen with Cordova android v 6.3.0 and CrossWalk"
## Description
We are using VideoJS in a AngularJs, Ionic1, Cordova project. Since we upgraded the technical base, when we click on the fullscreen button of the viewer on Android, we have a blank page. ( sound's running without video)

We are using VideoJS v 6.2.4 as a bower component. (https://github.com/sbatezat/video.js)
We upgraded the Cordova Android version from v6.1.2 to v6.3.0. We're using

[2018-09-13 17:08] alexlopez-natgeo opened #5438 "Set crossorigin attr programmatically"
## Description
I've been struggling with the crossorigin attribute; right now the implementation I have is a playlist, the first video should not have such attribute but the second does and I have tried multiple ways like:
* `player.setAttribute('crossorigin', 'anonymous')`
* `player.el_.setAttribute('crossorigin', 'anonymous')`
* `player.setAttribute('cors', 'anonymous')`

even pass it like
[code

[2018-09-13 18:24] #5436 closed, assigned to nobody

[2018-09-13 19:37] webcast33 commented on #5435
Hello. Still looking for a way to detect the end of a live HLS stream. I noticed there are VHS "usage events" that could convey the information that the manifest is no longer being updated and eventually disappears (resulting in xhr 404/504 errors). But I can't get any of these events to fire. Is it possible that I'm not using them correctly? Here is a section of my code:

    video.ready(function

[2018-09-13 19:39] jawsware commented on #4630
I got it to work with this change"

`context.drawImage(video.children_[0], 0, 0, canvas.width, canvas.height);`

[2018-09-14 15:51] Everlag commented on #5436
Looping still seems to be broken. Manually invoking play is solved by the latest release but we still see the spinner blocking at the end.

Want me to open a new issue for this?

Repro
http://jsbin.com/kamavaduru/1/edit?html,output

[2018-09-14 15:59] gkatsev commented on #5436
@Everlag can you open one against the [videojs/http-streaming repo](https://github.com/videojs/http-streaming/issues/new)? Thanks!

[2018-09-14 16:11] Everlag commented on #5436
Will do

[2018-09-15 23:16] subarudad commented on #4343
To set the volume bar to vertical, you can initialize like this:
var options = {
    controlBar: {
        volumePanel: {inline: false}
    },
};

Is there an available setter for dynamically changing the volume control to vertical?

[2018-09-17 08:11] marcusfrenkel opened #5440 "Fluid layout for 5:4 aspect ratio"
I kindly request the developers to add support for 5:4 aspect ratio in the fluid layout style. This is needed for resolution of 720x576 (PAL DVD).

[2018-09-17 13:49] misteroneill commented on #5440
Thanks for the idea @marcusfrenkel! If you'd like to take a stab at it, you'd be welcome to open a PR and we'd appreciate it. I suspect what you're looking for is a pre-defined `vjs-5-4` class name, which could easily be added in `css/components/_layout.scss`.

In the meantime, those wanting this feature can call `player.aspectRatio('5:4')` and it should have the same effect.

[2018-09-17 16:04] gkatsev commented on #5440
I don't think we want a new default class. You can configure the player via an `aspectRatio` option or by calling the method. If that isn't sufficient, we can see whether we need default classes for it.

[2018-09-17 16:13] brainthinks commented on #3725
@ssaguiar - here are the docs I found for reloadSourceOnError:

https://support.brightcove.com/hls-plugin

It won't solve your memory leak issue, though.  I am working on something similar right now, which is a video monitoring site/tool, and memory management is a big issue when playing 12 - 36 streams simultaneously.  From what I can tell, the virtual media source extension code in the newest hl

[2018-09-17 21:04] marcusfrenkel commented on #5440
The `aspectRatio` is sufficient. Thanks!

[2018-09-17 21:13] gkatsev commented on #5440
You're welcome!

Going to close this issue in that case. Let us know if you have any questions about it.

[2018-09-17 21:13] #5440 closed

[2018-09-18 07:41] rin commented on #4970
Running into problems similar to those of the OP. Would love to see a solution here :). Keep up the good work!

[2018-09-18 23:59] #5276 closed

[2018-09-19 00:59] #5316 closed

[2018-09-20 04:46] ishish opened #5441 "Play Promise never resolves in FireFox and Microsoft Edge"
We have a product that lets you click thumbnails to switch videos on the video player. We've upgraded to video.js 6.12.1 and are finding that Firefox/Microsoft Edge sometimes stalls on videos after we switch.

It seems that the video play() promise doesn't always resolve or reject. Here is a code snippet to show how we handle autoplay situations per the article published on the video js blog.

[co

[2018-09-20 21:16] T4eus opened #5442 "googlevideo.com issues with HTTPS redirect in firefox"
## Description
Briefly describe the issue.
Include a [reduced test case](https://css-tricks.com/reduced-test-cases/), we have a [starter template](http://jsbin.com/axedog/edit?html,output) on JSBin you can use.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1.using Ublock origin at firefox
2.go to https://invidio.us/
3.try to watch some videoes

## Resul

[2018-09-20 21:57] T4eus commented on #5442
![image](https://user-images.githubusercontent.com/43221359/45848931-3dd6c300-bcfe-11e8-9957-c90b14eb0484.png)
https://invidio.us/watch?v=z04XOX_XVJA
`VIDEOJS: ERROR: (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED) The media could not be loaded, either because the server or network failed or because the format is not supported. Object { code: 4, message: "The media could not be loaded, either because the ser

[2018-09-20 21:58] T4eus commented on #5442
Mozilla Firefox 62.0 64-bits
Windows 10 1803 64-bits
Ublock Origin 1.16.20

[2018-09-20 21:59] T4eus commented on #5442
all works before unckeck "disable prefetch"
exept this one, maybe another error
https://invidio.us/watch?v=_Fxil2QY0wE

[2018-09-20 22:13] gkatsev commented on #5442
All those worked for me, though, I am on macOS. Also, it seems like these all loaded mp4s for me. Is it loading HLS for you?

[2018-09-20 22:13] gkatsev commented on #5442
I'll try and check it out on a win10 machine.

[2018-09-20 23:00] gkatsev commented on #5442
Just tried on a win10 machine and still couldn't reproduce, unfortunately.

[2018-09-21 00:03] ishish commented on #5441
For now I timeout if the promise doesn't returns. If the timeout happens I call player.play() and the video plays. Not the best solution in the world but it works. Would love to know if there is another solution out there or a timeout mechanism will be built into video.js.

[2018-09-21 06:36] ony19161 commented on #5343
I am using requireJs with Backbone, for me it worked after amdfying videojs as following

Create a new file named videoJsAmd, and inside the file added the following code
define(['libs/videojs/video.min'], function(videojs){
return videojs;
});
Referenced the videoJsAmd in require.confg as following
require.config({
baseUrl: "/ClientCode/Scripts/",
shim: {
"libs/backbone/backbone": {
deps: ["libs/

[2018-09-21 06:55] kalieye commented on #5308
@gkatsev sorry for my late reply, your code works but only with the metadata track, which is not what i'm looking for, i'm pushing a subtitles track in a live event and that's the one i need to work on, when i try to add the listener to it nothing gets triggered, it works perfectly if i manually select the CC track from the button, the problem is that i want to render it somewhere else and not on

[2018-09-21 07:19] #5315 closed

[2018-09-21 09:36] vaishnavravi33 commented on #3283
Hi,

I'm facing the same issue.
Videos are playing well in Chrome and Firefox on windows desktop.
**But in iPad3 and iPhone6+ videos not working shows message written in a div inside video tag.**

Dynamic HTML is generating from the server and Literal Control(ASP.NET) used to render the HTML.
I used both ways of VideoJS to initialize the video. Used Ways are -

**Way 1.**

HTML

[code]

Added JS a

[2018-09-21 11:35] vaishnavravi33 commented on #3283
Sorry I found the solution. My mp4 video encoding was not proper. Tried using videojs's default movie (https://vjs.zencdn.net/v/oceans.mp4) and found that it works.

[2018-09-21 12:20] T4eus commented on #5442
I will investigate more, maybe is something related just to me

[2018-09-21 14:14] gkatsev commented on #5442
Maybe another extension as well? Try disabling all other extensions.

Let us know.

[2018-09-21 18:36] misteroneill commented on #5392
We don't accept donations, but we would deeply appreciate any help in documenting things!

[2018-09-23 18:47] #5325 closed

[2018-09-23 19:03] arski commented on #5191
@practual may be relevant to your change

[2018-09-23 22:47] #5312 closed

[2018-09-24 12:45] T4eus commented on #5442
https://github.com/omarroth/invidious/issues/161#issuecomment-423756026
![image](https://user-images.githubusercontent.com/43221359/45952773-17eb4000-bfd6-11e8-9de1-5dfaadbafdae.png)

[2018-09-25 12:41] kalieye commented on #5308
@gkatsev thanks so much, will test ASAP and get back to you

[2018-09-25 16:11] gkatsev commented on #3714
I just tested this against latest version of Video.js and cannot reproduce. Going to close as fixed.

[2018-09-25 16:11] #3714 closed

[2018-09-25 16:17] gkatsev commented on #5224
I am no longer able to reproduce this issue. Tested in a bunch of modern browsers and IE11 on win7. Going to close it for now.
If this is still an issue, please provide a test case.

[2018-09-25 16:17] #5224 closed

[2018-09-25 18:42] #5308 closed

[2018-09-25 18:52] gkatsev commented on #5424
Unfortunately, not all metadata is available in the browser without download the media manually and inspecting it directly. In act, I think the only real thing that's available are the intrinsic height and width of the video.
You can get these via `player.videoHeight()` and `player.videoWidth()`.
Most of the other info needs to be provided out of band.

[2018-09-25 20:28] mister-ben commented on #5442
I tried thottling bandwidth and it made no difference for me: some videos load, others do not. The ones that do not are simply 403 responses, likely because the You Tube CDN URLs they are scraping expire.

[2018-09-25 20:38] gkatsev commented on #5442
Based on https://github.com/omarroth/invidious/issues/161#issuecomment-424006846, it's possible that this is a googlevideo redirect issue and not something we can do anything about

[2018-09-25 21:11] T4eus commented on #5442
but if I use firefox default player, I don't get the error.
if I open the video source on other tab and wait the redirect, I can reload the invidio.us page and it will work.

this problem don't occurs on chrome, all videos plays well.

this fail specifically on the videojs player at firefox,
if get the redirect on external tab, and retry videojs player, it works.

[2018-09-26 11:02] VasiliyRusin commented on #3289
@gkatsev, Are you shure that change source code is the best idea? I suppose it should have API for this. Some kind of init parameter for all menu buttons.

[2018-09-26 16:39] amtins opened #5449 "Dash live streaming stops playing after a few seconds"
## Description
Dash live streaming stops playing after a few seconds

## Steps to reproduce

1. Open https://amtins.github.io/videojs-dash-live-streaming/
2. Click play
3. Wait until it stops

## Results
### Expected
Should works as [videojs-contrib-dash](http://videojs.github.io/videojs-contrib-dash/)
Url to test : https://srg2-accountdigitalinnovation-euwe.streaming.media.azure.net/3f17705e-954c

[2018-09-26 23:28] jwoertink opened #5451 "The size of the video player determines the HLS video quality"
## Description
HLS video quality should be determined by how fast your internet is, but it seems the latest version (7.2.0) uses the size of the video window to determine the HLS quality. If the video window is small, then a 420p video will play. Resizing the window to full screen on a large monitor, then 1080p will play.

## Steps to reproduce
1. Visit https://jsbin.com/cucakeyilo/edit?html,outpu

[2018-09-26 23:43] gkatsev commented on #5451
This is actually our expected behavior. We restrict the renditions to player size + 1 as outlined in this document https://github.com/videojs/http-streaming/blob/master/docs/bitrate-switching.md

There's actually a feature request and PR ongoing to ignore the player size: https://github.com/videojs/http-streaming/pull/238

[2018-09-27 00:15] jwoertink commented on #5451
oh sweet. Ok, that PR sounds like exactly what I need. Thanks for the doc as well. I was digging around and wasn't sure what to call this feature to see if there was already a config or docs.

[2018-09-27 00:33] gkatsev commented on #5451
You're welcome. Going to close this issue then, if you can follow along with the PR.

[2018-09-27 00:33] #5451 closed

[2018-09-27 03:10] victoryboss commented on #5307
There are something wrong with your mp4 file .
Please fomat the mp4 file using H264.

[2018-09-27 03:47] Yalhu opened #5452 "Subtitles alternately displayed up and down on Sarari"
## Description
Subtitles alternately displayed up and down on Sarari.

## Steps to reproduce
When player is ready, I add text track programmatically via `player.addRemoteTextTrack(options,true);`
Style of `.vjs-text-track-display>div>div` which wrapped subtitles, top<bottom(8px<400px) when subtitle was on top.
I don't know what cause it.Please help, THs.

## Results
### Expected
Subtitles displaye

[2018-09-27 08:07] kalieye commented on #5308
@gkatsev i updated and i can confirm that the issue is now fixed, thank you!

[2018-09-27 14:44] gkatsev commented on #5308
You're welcome. Thanks for checking back in!

[2018-09-27 15:28] victoryboss commented on #5424
Thank you for your answer.
Best wished to you!

[2018-09-27 18:18] greenkeeper[bot] opened #5454 "An in-range update of es5-shim is breaking the build 🚨"
## The devDependency [es5-shim](https://github.com/es-shims/es5-shim) was updated from `4.5.11` to `4.5.12`.

🚨 [View failing branch](https://github.com/videojs/video.js/compare/master...videojs:greenkeeper%2Fes5-shim-4.5.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

es5-shim is a devDependency of this project. It *

[2018-09-28 07:16] liuhaoliang opened #5455 "Must have a visible size larger than 400 x 300 pixels"
I use "videojs-flash" and this library to play rtmp video.But when the video size is smaller than 400 x 300,the autopaly property will not work.the video will blocked and I have to play it manully.How can I fix it?It is the console log bellow .

 Cross-origin plugin content from <URL> must have a visible size larger than 400 x 300 pixels, or it will be blocked. Invisible content is always blocked.

[2018-09-28 09:27] Yalhu commented on #5441
Promise of player-videojs and video-html  vary on different browsers or situation. I customized code from different browser.

[2018-09-28 10:11] Yalhu opened #5456 "two subtitles show on Safari"
## Description
Native subtitle show on Safari, then there are two(I have had seen 3 when change tracks) subtitles on the player. It looks werid.
I had set html5:nativeCaptions=false.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1.
2.

## Results
### Expected
Please describe what you expected to see.

### Actual
Please describe what actually happened.

[2018-09-28 12:50] mister-ben commented on #5455
Try hosting the swf on your own domain, so it is not cross origin content. You can set that globally with `videojs.options.flash.swf = 'path/to/video-js.swf'`

[2018-09-28 13:44] weiz18 opened #5457 "VideoJS causes Cordova mobile app to crash"
## Description
When playing video in Cordova app[IOS], the app crashes.

## Steps to reproduce
1. Build a production version of Cordova app for IOS using ionic
2. Play video

## Results
### Expected
Plays video successfully

### Actual
App crashed.

### Error output
[LayoutConstraints] Unable to simultaneously satisfy constraints.

## Additional Information
Please include any additional informatio

[2018-09-28 21:06] #5454 closed

[2018-09-29 00:12] webrolls opened #5460 "VHS DASH playback errors when trying to play an audio only manifest"
## Description

I am trying to play simple dash stream, I can only see videojs shows some spinner but I don't see stream playing.

## Steps to reproduce

const playDashVideoJsOptions = {
  autoplay: false,
  controls: true,
  sources: [{
    src: 'https://pmqa.on24.com/media/news/corporatevideo/events/11/15/56/57/rt/50247373_mpd/stream.mpd',
    type: 'application/dash+xml'
  }]
}

I have a sample

[2018-09-29 09:34] mraiguo opened #5461 "When switching playlists, video at different resolutions will see the previous video image"
## Description
here is my code: https://gist.github.com/mraiguo/6786502ece497f17a1874887a89d900e;
and I know direct use of video tags also has this problem，I wonder what the solution is. thanks

## Results
### Expected
Video displays normally

### Actual
Please describe what actually happened.
![image](https://user-images.githubusercontent.com/22299421/46244157-87659300-c40d-11e8-8bb9-0821ca84b38a

[2018-09-29 21:52] gjanblaszczyk opened #5462 "Play/pause button doesn't show cursor pointer"
## Description

The player doesn't show correct pointer when the user moves the mouse cursor over the play/pause controlbar button. The issue is visible only on Firefox browser.

## Steps to reproduce
1. Open the code pen example: https://codepen.io/grbla/pen/qYVXbY
on Firefox browser.
2. Play the video
3. Use the mouse to roll over the play/pause controlbar button.

## Results
Wrong cursor.
### E

[2018-09-30 18:04] rromanchuk opened #5464 "CDN resources on "Getting started" returning HTTP 403"
## Description
Follow the getting started steps here https://videojs.com/getting-started/#download-cdn

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. Follow the getting started steps
2. Player fails because the cdn remote resource returns http 403 denied
3.

## Results
### Expected
CDN listed in getting started guide should be able to load

### Actual

[2018-09-30 23:02] i18n-hoon commented on #2852
I need help with this issue.
I want to use videojs as a local video player.
If I set the valid video source and change the local video file, there is no problem.

However, if I set the source to null initially and change the video file, it will not play.
The video is loaded successfully and seeking is possible, but It can't play. And also not work in programming api (`player.play ()`)

This is my

[2018-10-01 14:28] misteroneill commented on #5464
Confirmed.

@gkatsev We may need to manually send these to the CDN? Looks like the newest version up there is 7.2.0

[2018-10-01 14:47] gkatsev commented on #5464
Oops, guess I've forgotten to publish them.

[2018-10-01 14:49] gkatsev commented on #5464
I've published 7.2.1, 7.2.2, 7.2.3, and 7.2.4. 7.2/ also works now and points at 7.2.3.

[2018-10-01 14:49] #5464 closed

[2018-10-01 16:35] amtins opened #5466 "getFileExtension incompatible with Azure Media Services"
## Description
Azure Media Services provide URLs like  :
**HLS**
{streaming endpoint name-media services account name}.streaming.mediaservices.windows.net/{locator ID}/{file name}.ism/Manifest(format=m3u8-aapl)

**DASH**
{streaming endpoint name-media services account name}.streaming.mediaservices.windows.net/{locator ID}/{file name}.ism/Manifest(format=mpd-time-csf)

The following function tries

[2018-10-01 18:12] gkatsev commented on #5462
Huh, really weird. When I try it out on videojs.com, it's working just fine but not locally.

[2018-10-01 18:13] gkatsev commented on #5462
Oh, looks like the website includes the following rule: `input[type="button"] { cursor: pointer; }`

[2018-10-01 20:06] zoblue opened #5467 "Safari on iOS (iPads/iPhones) do not skip & play .currentTime() correctly."
Apologies if this was found before, I couldn't find this issue nor a fix via search.

## Description
Links were added to let users skip to certain points in the video. In Safari on iOS devices (iPad/iPhone) the first link will only play the video but it will not skip ahead to the correct time code. It's only when a user clicks again will the video skip ahead as intended.

## Steps to reproduce
1:

[2018-10-02 07:36] picasik commented on #5462
You can add
`.video-js .vjs-play-control {
    cursor: pointer;
}`

[2018-10-02 10:23] fahadpk01 opened #5468 "Please need help"
I have tried hard to find the correct code for m3u8 live streaming in video.js player with google ads but i don't find them anywhere.

I want to play m3u8 files with Google's IMA SDK integration. Can anyone help me find the code that plays google ads before the streaming of m3u8 files?

[2018-10-02 10:53] ixdi opened #5469 "Streams no longer works with createObjectURL() in Chrome"
Hi,

Is there a way to set srcObject from a MediaStream?
I have not found it in Video.js API but this is the new way to load a local video file.

Streams no longer works with createObjectURL() in Chrome.

Thanks

[2018-10-02 15:00] Mefistosss opened #5470 "Streaming. The play() request was interrupted by a call to pause()."
Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause().
If we move video to other html block.

[jsfiddle. The example (fast click on the button two times)](https://jsfiddle.net/gqpr0nmL/24/)
Google Chrome 69.0.3497.81

[2018-10-02 15:04] gkatsev commented on #5462
@picasik thanks, there's a PR with a fix for this in progress #5463

[2018-10-03 08:14] gjanblaszczyk opened #5472 "The player shows focus outlines on Firefox"
## Description
The player shows a focus outline after clicking on the video but It should not because the HTML video element has a 'tabindex = -1'. The issue is visible on Firefox browser.

## Steps to reproduce
1. Open the code pen example: https://codepen.io/grbla/pen/qYVXbY
on Firefox browser.
2. Play the video
3. Click on the player video area to pause/resume the main video.

## Results
### Ex

[2018-10-03 11:28] gjanblaszczyk opened #5474 "Prevent buttons from being focused on mouse click"
## Description
Every time I clicked on the control bar buttons. I saw that the clicked button was focused.
However, this behavior is fine but sometimes I want to have a possibility to disable this.
The outline should be visible when the user uses the keyboard keys to navigate through control bar buttons.
Can we add the new videojs option to enable/disable the control buttons from being focused on

[2018-10-03 13:21] antonino-tocco opened #5475 "Issue with dash manifest with query string params"
## Description
Briefly describe the issue.
Include a [reduced test case](https://css-tricks.com/reduced-test-cases/), we have a [starter template](http://jsbin.com/axedog/edit?html,output) on JSBin you can use.

Hi, I have a problem with a dash live stream with query string params in mpd manifest.
The manifest is required correctly with the query string params but the segment initialization and se

[2018-10-03 18:16] gkatsev commented on #5470
Hey,

Unfortunately, I can't reproduce this locally. However, that warning is purely information and isn't an issue. If calling pause() and play() is called but before it's had to play chrome will print it. Google wrote a good blogpost about it and how to deal with it here https://developers.google.com/web/updates/2017/06/play-request-was-interrupted

Hope this helps.

[2018-10-03 18:16] #5470 closed

[2018-10-03 20:50] gkatsev commented on #5474
Yeah, this is something we've been thinking about a lot. Specifically, there hasn't been a good way to hide it for mouse users but keep it for keyboard users. Starting with v6, we opted that it's better to have the outlines for mouse users to make keyboard and screen reader user's experience better.

It's possible that we should just add something like the following, then when browsers implement i

[2018-10-03 20:53] gkatsev commented on #5472
Like #5474, we need to make sure that this is accessible to both keyboard and mouse users.

[2018-10-03 20:54] gkatsev commented on #5469
Do you have a code example of what you're doing currently that stopped working?

[2018-10-03 20:57] gkatsev commented on #5468
Video.js 7 can play m3u8 files natively, just make sure to add the correct mimetype to it. I would then look at https://github.com/googleads/videojs-ima for IMA support.
They have a getting started section in their README and they have an example you can take a look at https://codepen.io/imasdk/pen/wpyQXP

Hope this helps.

[2018-10-03 20:57] #5468 closed

[2018-10-03 21:02] gkatsev commented on #5467
Yeah, this is something we've been aware off for a while (https://github.com/videojs/video.js/issues/4696 is just one issue). Safari really doesn't let you seek before `loadedmetadata` has triggered on a new source.
We've been thinking that `currentTime` should cover this case but because it's kind of tricky to get right and other priorities got in the way so we never got around to this.

Listenin

[2018-10-03 21:08] gkatsev commented on #5466
Our recommendation is always to add the mimetype to the media via a source element (`<source src="...windows.net..." type="application/dash+xml"`>) or as an object passed to `player.src()` (`player.src({src: '...windows.net...', type: 'application/dash+xml'});`).
That piece of code tries to detect the type of the video by looking at a file extension if it exists.

[2018-10-03 21:18] gkatsev commented on #5457
Do you have any more details about this? Are there any specific errors being logged? Does the app work without Video.js? Can it play with just a native video tag? Can you provide a sample project that shows this problem?
We've never really dealt with cordova, so, you'll have to bear with us.

[2018-10-03 21:18] gkatsev commented on #5456
Can you provide a reduced test case please?

[2018-10-03 21:20] gkatsev commented on #5455
Yeah, unfortunately browsers are putting restrictions on flash and there's not much we can do. @mister-ben's suggestion is definitely worth trying but I'm not sure there is anything else to try. I would also recommend moving off of flash if you can.

[2018-10-03 21:20] #5455 closed

[2018-10-03 21:21] gkatsev commented on #5452
I'm not quite sure I follow what the problem is. Can you provide a reduced test case please?

[2018-10-04 00:41] Sivitas commented on #5184
We're seeing the same issues on Vizio's SmartCast TV platforms. Is this code anticipated to be released anytime soon? I see there hasn't been any updates on that ticket in the last month

We're also using VideoJS v7.2.3 now and since it has support for hls impliciltly, we aren't directly using videojs-contrib-hls anymore, though I assume the lib is just internally referencing it

[2018-10-04 08:49] Mefistosss commented on #5470
Hey,

[2018-10-04 08:54] Mefistosss commented on #5470
Hey,

Please, go to the link [https://jsfiddle.net/gqpr0nmL/24/](https://jsfiddle.net/gqpr0nmL/24/) then open console and click two times on th "change container" button. The error is inside videojs.

[2018-10-04 10:04] gjanblaszczyk commented on #5472
Yes, you have right but there is some inconsistency now. Why I don't see this player visual outline on the other browsers?  I see this outline only on Firefox which looks like a bug...

[2018-10-04 12:53] gjanblaszczyk commented on #5474
Thanks for the information and this focus-visible polyfill is a really good idea.
btw @gkatsev Do you know any other solution for this problem?

[2018-10-04 13:05] gjanblaszczyk opened #5477 "Feat: Add support for Live DVR"
## Description
The player is playing Live DVR as a standard Live stream.
In other players, I don't have to use any extra plugins to play Live DVR.
Are you planning to add DVR functionality to the player in near future?

[2018-10-04 15:09] gkatsev commented on #5477
This is something that we are going to be working on really soon.

[2018-10-04 15:09] gkatsev commented on #5477
This is something that we are going to be working on really soon.

[2018-10-04 15:16] gkatsev commented on #5474
There isn't a good way, unfortunately. One way I think we may be able to do it is by storing whether the component was interacted with with the mouse or not. Then, in the focus event, we can preventDefault if it was the mouse. But that's less than ideal.

[2018-10-04 15:32] gkatsev commented on #5470
I cannot reproduce locally even after making sure that the button doesn't move. However, this is most likely not an issue from Video.js but maybe it could just be arising from the video element itself when chrome moves it in the DOM.

[2018-10-04 15:33] gkatsev commented on #5472
Hm... I can see the inconsistency in firefox is weird. Maybe disabling the outline for the player itself will be fine? With VoiceOver enabled, I could still its outline in chrome.
@OwenEdwards any thoughts?

[2018-10-04 15:36] gjanblaszczyk commented on #5477
Great, I can help you with that. Of course, if you need any help.

[2018-10-04 15:37] gkatsev commented on #5477
We'll let you know, thanks!

[2018-10-04 17:48] johnbyers commented on #5460
I see the same issue too, the stack trace on my browser shows it starting at `onClientServerClockSync_` when it tries to do `_this4.trigger('loadedmetadata')`.
Here is a snippet:
[code]

[2018-10-05 00:36] cbovis commented on #5119
@gkatsev Just trying to get across the v6 -> v7 major release to see if we can update. Was IE8/9/10 support dropped in v7?

[2018-10-05 00:39] gkatsev commented on #5119
Yes, it's one of the only changes in v7: https://blog.videojs.com/video-js-7-roadmap/#Old-IE

[2018-10-05 00:41] cbovis commented on #5119
Thanks for the quick response and clarity Gary 🙌

[2018-10-05 00:43] gkatsev commented on #5119
You're welcome.

[2018-10-05 07:30] kasidesh opened #5480 "How to integrate properly videojs + video-flash with reactjs"
## Description
As a flash project is separate from video.js in version 7, I try to combine the script in the component, like the code (https://gist.github.com/kasidesh/2d119252f37407fbf8a399651432ef2e).

- https://github.com/videojs/video.js
- https://github.com/videojs/videojs-flash
- https://github.com/brightcove/videojs-flashls-source-handler

## Steps to reproduce
try this code
https://gist.gi

[2018-10-05 08:18] ixdi commented on #5469
I have created a codepen example.
It's strange, when you first try to load local file it fails, but if you first try to load a server video then local file can be reproduced.
Maybe there's a mistake in my code.

https://codepen.io/ixdi/pen/jerYgo

Thanks

[2018-10-05 15:59] gkatsev commented on #5480
Hey, I updated your example a bit in a live codesandbox: https://codesandbox.io/s/xl5m5q2wjo

If you pop it out into another view and force enable flash in chrome you should be able to see it working: https://xl5m5q2wjo.codesandbox.io/

The main change I did was swap out the dependency to point at `@brightcove/videojs-flashls-source-handler`, I think that's the one the one to use.

[2018-10-05 19:42] OwenEdwards commented on #5474
@gjanblaszczyk you can see a fully implemented version of the `:focus-visible` polyfill being used at:

https://github.com/OwenEdwards/video.js/commit/47f25a2d29be18fe7b87024239c8851117f5e1f2

It's a very small change, and `:focus-visible` is on track to be a W3C recommendation.

I'd *strongly* recommend against doing any other kind of hack, including the `preventDefault` in the `focus` event; it

[2018-10-05 20:04] OwenEdwards commented on #5472
This needs a little more investigation. There are situations where the JavaScript moves focus to the whole player `<div>` (hence the `tabindex="-1"` - focus can be moved to the `<div>` via JS, but it is not in the "tab order"). It looks like Firefox provides a focus outline for the `<div>`, but other browsers do not.

The player should definitely be consistent across browsers, and browsers general

[2018-10-05 22:50] gjanblaszczyk commented on #5474
Thanks, @OwenEdwards for the explanation.
I pushed new PR based on: focus-visible and closed the old one.

[2018-10-06 21:37] #5337 closed

[2018-10-08 06:27] #5424 closed

[2018-10-08 09:14] gjanblaszczyk commented on #5474
I have also some question about default styling for video.js focus ring. For now, the video.js player uses default focus browser styles which mean that focus ring looks differently on every browser. I guess It will be a good idea to define a default focus style that will look consistent on all browsers. What do you think?

[2018-10-08 10:15] scorpionZK opened #5485 "how to use rtmp in video.js"
## Description
Briefly describe the issue.
Include a [reduced test case](https://css-tricks.com/reduced-test-cases/), we have a [starter template](http://jsbin.com/axedog/edit?html,output) on JSBin you can use.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1.
2.
3.

## Results
### Expected
Please describe what you expected to see.

### Actual
Please des

[2018-10-08 12:15] amtins commented on #5449
Maybe I should link this issue to the VHS repository ? It seems that the problem lies in VHS.

[2018-10-09 06:24] greenkeeper[bot] opened #5487 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `0.66.4` to `0.66.5`.

🚨 [View failing branch](https://github.com/videojs/video.js/compare/master...videojs:greenkeeper%2Frollup-0.66.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **might not

[2018-10-09 08:16] mister-ben commented on #5485
You need to add the Flash tech from https://github.com/videojs/videojs-flash

Then use an ampersand (&) to split the stream name from the connection URL in src and use `rtmp/mp4` or `rtmp/flv`.

[code]

https://docs.videojs.com/tutorial-faq.html#q-how-can-i-play-rtmp-video-in-videojs

Of course this is only possible where Flash is available, and subject to any restrictions the browser puts on Flas

[2018-10-09 13:04] DineshBhudia opened #5488 "no tooltips on full screen mode"
## Description
When the video is on full screen mode the tooltips won't appear.
Include a [reduced test case](https://css-tricks.com/reduced-test-cases/), we have a [starter template](http://jsbin.com/axedog/edit?html,output) on JSBin you can use.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. Expand video to full screen
2. put mouse over any buttons.

[2018-10-09 15:11] gkatsev commented on #5474
Yeah, I've been wanting to make a unified focus ring (probably similar to what Chrome has) across browsers, partially because firefox's focus ring is not accessible.

[2018-10-09 15:18] #5485 closed

[2018-10-09 15:36] gkatsev commented on #5488
Unfortunately, I cannot reproduce the issue. I still see the tooltips in fullscreen mode.
Also, Video.js 5 is a pretty old version, I would recommend updating to latest v6 or v7.

[2018-10-09 17:20] Surt opened #5490 "Live HLS go to live"
## Description
When playing a VOD HLS m3u8 it seems to have more delay than the ts segments. 3 seconds TS segments and player playing 40 seconds from actual time) Is there any way to command the player to go to the last segment when playing (go to live)?

[2018-10-09 20:35] OwenEdwards commented on #5474
The problem with creating a custom visible focus ring which is consistent across all browsers is that doesn't match users' expectations that the focus ring will be _consistent across all elements in a page_ in the browser they're using, rather than across all browsers.

Of course, if the page designer implements a custom focus ring, then that needs to override everything including the video.js one

[2018-10-09 20:57] gkatsev commented on #5472
Oh, yeah, didn't think about it the consistency within the page. The firefox focus ring just looks so bad.

[2018-10-09 21:17] #5099 closed

[2018-10-10 09:52] rgaufman commented on #3773
I am trying player = videojs('id'); player.width(100 but there is no effect on the latest version (7.2.4) :(  - any ideas?

[2018-10-10 15:57] bcorvino commented on #3761
Hi I'm still seeing this issue in WKWebView.  I'm loading the following page in an iframe in an Ionic3 app.  I get empty native controls with no video.  The video begins playing inline underneath.  If I close the native controls, I can then interact with the video.  This is in the simulator and on actual devices.
 It works on iPad, but not on iPhone.  Any info would be greatly appreciated.

<img w

[2018-10-10 17:47] bcorvino opened #5493 "iOS player embedded in iframe in Cordova WKView Webview opens up empty native controls and playsinline underneath"
## Description
Briefly describe the issue.
I'm seeing this issue in WKWebView. I'm loading the following page in an iframe in an Ionic3 app. I get empty native controls with no video on iOS10. The video begins playing inline underneath. If I close the native controls, I can then interact with the video. This is in the simulator and on actual devices.

It works on iPad, but not on iPhone. Any info

[2018-10-10 20:12] gesinger commented on #5490
Hey @Surt , would you be able to put together a sample page with our [starter template](https://jsbin.com/gejugat/edit?html,output) on JSBin and the source you are looking at?

Also, are you looking at a VOD asset or a LIVE asset?

Thanks.

[2018-10-11 07:11] bostinait opened #5495 "Playing a video that is being recorded on a webcam"
Hi,

We are currently recording the video from a webcam using the videojs-record plugin.

Every 5 seconds we grab a slice of the recorded video, upload it to the server and concantenate to a master video file (mp4)

VideoJs will load that video but stop playing after the first 5 seconds despite the video being appended to in the background.

We realise that on first load it is evaluating the lates

[2018-10-11 08:11] ixdi commented on #5469
Ok, I think we found the problem.

The param autoplay="muted" is need!

[2018-10-11 12:27] bcorvino commented on #5493
So after a day, I found the issue.  Posting here in hopes of saving someone else time.  The phantom native player was being created by canAutoplay.  So, if you're using canAutoplay, remember to add the "inline" option to your calls if you're looking to display the eventual video inline.

canAutoplay
    .video({
      timeout: 100,
      muted: false,
      inline: true
    })

Hope this helps som

[2018-10-11 12:27] #5493 closed

[2018-10-11 12:41] amtins commented on #5449
I close this issue as it's more an issue with VHS. Please see https://github.com/videojs/http-streaming/issues/256

[2018-10-11 12:41] #5449 closed

[2018-10-11 14:05] Surt commented on #5490
Hi @gesinger

I was triying to set a live m3u8 online so you can see the differences, but then I saw that if I set a playbackrate 2x it reach the last segment and I can play the HLS with minimun delay.

Is there a way to set the playback time to the current time on code, I could create a button with that and everything will be fine.

[2018-10-11 15:05] gkatsev commented on #5493
Glad you were able to figure it out and thanks for posting your solution!

[2018-10-11 15:06] vaishnavravi33 commented on #3431
Set data-setup option to true and set the div width and height as per your need.
It will show video in full size of container div.

[code]

[2018-10-11 15:07] gkatsev commented on #5495
Unfortunately, there isn't really a good way to do it with mp4s. You could re-add the source to the player and seek forward but that's not ideal. What you really want is a segment file format that provides live stream capabilities like DASH or HLS. Then each 5 second slice can be turned into an fmp4 segment in the DASH/HLS manifest.

Hope this helps.

[2018-10-11 15:07] vaishnavravi33 commented on #178
Set data-setup option to true and set the div width and height as per your need.
It will show video in full size of container div.

[code]

[2018-10-11 15:09] vaishnavravi33 commented on #3431
Set data-setup option to true and set the div width and height as per your need.
It will show video in full size of container div.

[code]

[2018-10-12 19:47] gkatsev opened #5500 "look into increase the text size"
_Originally posted by @gkatsev in https://github.com/videojs/video.js/pull/5499/review_comment/create_

[2018-10-12 21:08] gjanblaszczyk opened #5502 "Volume slider shows up after mouse hovering on it."
## Description
Volume slider in vertical mode shows up after mouse hovering on it.

![videojs-volume-hover-issue](https://user-images.githubusercontent.com/5346546/46893808-8e12f200-ce72-11e8-820f-65e6a8c2079f.gif)

You can check it here: https://codepen.io/grbla/pen/qYVXbY

## Results
### Expected
Volume slider doesn't show up on mouse over.

### Actual
Volume slider shows up on mouse over.

## A

[2018-10-13 07:41] flipace opened #5504 "Blob Url Support broke with 7.2.1"
## Description
When using a dynamically generated blob url as a video source, any player interaction will be silenced by video.js

It works flawlessly when triggering `.play()` directly on the HTMLVideoElement though.

Reproduction case with comparison of 7.2.0 and 7.2.1: https://github.com/flipace/video.js-7.2.1-blob-issue. This is related to a change made in https://github.com/videojs/video.js/p

[2018-10-13 14:13] #4199 closed

[2018-10-15 08:09] kundanshrivastava opened #5507 "How to do fallback from dash to html5 incase of window7 & IE11"
## Description
I am using videojs-contrib-dash 2.10.0 + videojs2.7.3, Here is the situation where Dash is not supported by IE11 on window 7 (Due to MSE not supported), Would like to know, Is there any way to fallback to the html5 player if Dash is not supported by the browser?

[2018-10-15 11:51] #5507 closed

[2018-10-16 18:19] #5285 closed

[2018-10-16 18:59] aamorozov commented on #3351
@tiaferra91 answer's is correct - if all suggestions don't make the video work for you try testing on https resource

[2018-10-16 19:25] qbadev opened #5509 "Bug when using errorDisplay.close()"
## Description
In my case, after getting error code 4, I need to replace error modal with my own modal object. So I use `player.errorDisplay.close()`, where `player` is an object returned by `videojs` function. For a test I use 7.2.3 version, but the same problem occurs in previous versions (5.20.5 from bower in my particular example).

## Steps to reproduce
1. Create an html page. Include newest

[2018-10-17 05:16] #4534 closed

[2018-10-17 08:00] wj20160318 opened #5510 "a part of m3u8 file can not be played, how to ignore it and play the rest."
just ignore the bad, not stop the whole.

[2018-10-17 09:08] gaetancollaud commented on #3728
I end up in the same issue and I'm not managing the server. So I found a really dirty workaround: downloading the whole stream manually and push it to the player:
[code]
As I said, it's really dirty and should not be used unless you really need to because you will have to wait for the whole video to be loaded in the browser. My streams last 5min or less in low resolution so it's not that big a dea

[2018-10-18 11:41] VasiliyRusin commented on #5433
@misteroneill, I really do not want to be rude, but I suppose that "non-sighted users" is not the most part of people who use video players. I strongly believe that a11y is really important but it would be greate if it will move to additional module or plugin.

[2018-10-18 17:52] OwenEdwards commented on #5433
@VasiliyRusin certainly "non-sighted users" are not the largest group of users of video players; nor are deaf/hard-of-hearing, but most people understand the need for Captions, and wouldn't disable that feature to achieve a small tweak in how the UI of the player looks for other users. We will continue to build accessibility (including for blind and low-vision users) into the **core of video.js**,

[2018-10-18 18:13] OwenEdwards commented on #5433
A timely announcement from DRA Legal: [Hulu Becomes Latest Streaming Service to Commit to Accessibility for Blind Users (October 17, 2018)](https://dralegal.org/press/hulu-becomes-latest-streaming-service-to-commit-to-accessibility-for-blind-users/)

[2018-10-18 20:42] misteroneill commented on #5509
I couldn't reproduce this issue. I tried creating a [reduced test case](https://jsbin.com/hucuwir/edit?html,console,output), but it works fine.

[2018-10-20 11:24] stek2000 opened #5513 "Rounded corners and shadow, how to do it?"
## Description
I would like to have the video.js video-player rounded corners (say 5px ) and a small shadow.
Alas I can not get this done and hope any of you experts can help me how to do this.
Already many thanks for your help and advice.
Kind Regards,
Frans

## St

[2018-10-21 00:28] #5338 closed

[2018-10-21 00:54] Vaporexpress commented on #2945
I'm facing the same issue with a local mp4 video with codec ADTS (merged TS in a mp4)

[2018-10-21 04:02] gkatsev commented on #2945
Most browsers cannot play back ADTS audio, Your best bet is to re-encode to mp3 or aac audio.

[2018-10-21 06:13] #5246 closed

[2018-10-21 14:55] misteroneill commented on #5509
The `player` variable and `this` (inside the ready callback) are the same object; so, that has no bearing on this. Your example:

[code]

Is working correctly:

1. When the player is ready, an `error` listener is bound.
2. The player attempts to load `oceans-will-404.mp4`, which does not exist.
3. An `error` event is triggered.
4. The first listener that is called for this event is the listener th

[2018-10-21 22:03] gkatsev commented on #5509
You can also set `errorDisplay: false` as an option of the player to disable it. Also, the recommended way to turn off the error and the display is to call `player.error(null)`.

[2018-10-22 04:53] OwenEdwards commented on #4902
This example is probably the way to go:

http://pauljadam.com/demos/loading-indicator.html

[2018-10-22 06:11] stek2000 commented on #5513
Hi Pat,
Thanks for your message, I really appreciate this.
Indeed Video.js is a stunning, beautiful player, by far the best I ever used.
Your solution works perfect, great job.
Kind Regards,
Frans

[2018-10-22 10:58] jinaviva opened #5517 "Some m3u8 resource couldn't play!"
## Description
http://124.232.231.246:6610/000000001001/201500000003/index.m3u8?IASHttpSessionId=OTT983820181017024353153904
HLS Link like above couldn't play in video-js,but could play in desktop player such as VLC media player or PotPlayer.Why?

## Steps to reproduce
use video-js v7.2.3 play above url

[2018-10-22 12:17] mister-ben commented on #5517
If you check the browser's dev tools you'll see an error similar to this:

Your server must set correct headers in the response, otherwise your browser blocks the request. Desktop apps like VLC don't enforce the use of these headers.

See https://enable-cors.org/server.html